<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de usuarios</li>
    </ol>
</nav>


<mat-card>
<div class="row">
    <div class="col-lg-12">

<div *ngIf="srvUsers.loadingUsers" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!srvUsers.loadingUsers" class="table-responsive">

    <table class="table  bordeTabla tablep table-bordered" role="table">
        <thead class="theadp">

            <tr class="trp bg-success text-center">

                <th class="thp" scope="col" role="columnheader">Identidad</th>
                <th class="thp" scope="col" role="columnheader">Nombres</th>
                <th class="thp" scope="col" role="columnheader">Apellidos</th>
                <th class="thp" scope="col" role="columnheader">Usuario</th>
                <th class="thp" scope="col" role="columnheader">Rol</th>
                <th class="thp" scope="col" role="columnheader">Opciones</th>
            </tr>
        </thead>


        <tbody role="rowgroup" class="tbodyp">
            <tr >
                <td> <input style="text-align: center;"
                    type="text"
                    class="form-control"
                    placeholder="Buscar" title="Buscar por Identidad" 
                    [(ngModel)]="identidad"
                    name="identidad"
                  /> </td>
                  <td> <input style="text-align: center;"
                    type="text"
                    class="form-control"
                    placeholder="Buscar" title="Buscar por Nombre" 
                    [(ngModel)]="nombres"
                    name="nombres"
                  /> </td>
                  <td> <input style="text-align: center;"
                    type="text"
                    class="form-control"
                    placeholder="Buscar" title="Buscar por Apellidos" 
                    [(ngModel)]="apellidos"
                    name="apellidos"
                  /> </td>
                  <td> <input style="text-align: center;"
                    type="text"
                    class="form-control"
                    placeholder="Buscar" title="Buscar por usuario" 
                    [(ngModel)]="usuario"
                    name="usuario"
                  /> </td>
                  <td> <input style="text-align: center;"
                    type="text"
                    class="form-control"
                    placeholder="Buscar" title="Buscar por rol" 
                    [(ngModel)]="rol"
                    name="rol"
                  /> </td>
                  <td>
                  </td>

            </tr>
            <tr class="text-center trp" role="row"
                *ngFor="let item of usuarios | slice: desde :hasta|  identidad: identidad |nombres:nombres|apellidos:apellidos | usuario:usuario | rol:rol |paginate:{itemsPerPage:10,currentPage:pageActual }">
                <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                <td role="cell" data-title="Observaciónes" class="tdp">{{item.usuario}}</td>
                <td role="cell" data-title="Observaciónes" class="tdp">{{item.rol}}</td>

                <td role="cell" data-title="Opciones" class="tdp">
                    <div style="text-align: center;">

                      <div class=" btn-group ">
                        <button *ngIf="item.idRol==1 || item.idRol==3" type="button " (click)="changeRol(item,2)" title="Asignar como Medico" class="btn btn-primary btn-xs ">
                            <i class="fa fa-users"></i>
                        </button>
                        <button  *ngIf="item.idRol==2 || item.idRol==3"  type="button "  (click)="changeRol(item,1)" title="Asignar como Administrador" class="btn btn-success btn-xs ">
                            <i class="fa fa-user"></i>
                        </button>
                        <button  *ngIf="item.idRol!=3"  type="button "  (click)="changeRol(item,3)" title="Regresar a Paciente" class="btn btn-danger btn-xs ">
                            
                            <i class="fas fa-address-book"></i>
                        </button>
                      </div>
                    </div>
                        
                </td>

            </tr>

        </tbody>
    </table>
    

    <pagination-controls  style="text-align: right;" (pageChange)="pageActual = $event" previousLabel ="Atras"
    nextLabel ="Siguiente"></pagination-controls>
</div>
</div>
</div>
</mat-card>