.success {
    color: green;
}

.error {
    color: rgb(247, 67, 67);
}

.btn-Error {
    background-color: rgb(245, 46, 46);
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  color: black !important;
}


.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panelPersonalizado {
    background-color:whitesmoke !important;
    margin-bottom: 5px !important ;
}

.mat-expansion-panelPersonalizado{
  .mat-expansion-panel-header-description,
  .mat-expansion-indicator::after {
    color: black !important;
  }
  .contentAccordion {
    border-left-width: 5px !important;
    border-color: #333a56 !important;
    background-color: #f8fafc !important;
    border-left-style: solid !important;

  }
}


.textSideHeader {
  width: 100% !important;
  height: 100% !important;
  font-size: 13px !important;
  color: white !important;
}

.textSide {
  width: 100% !important;
  height: 100% !important;
  font-size: 13px !important;
  color: #333a56 !important;
}

.icon {
  color: #333a56 !important;
  font-size: 19px !important;
  height: 100%;
  align-items: center !important;
  display: flex !important;
}

.logoSideBar {
  max-width: 190px;
  max-height: 120px;

}




.mat-list-item span {
  color: #333a56;
}


.mat-list-base {
  padding-top: 0px !important;
}

.buttonPanel{
  .mat-mini-fab {
    width: 28px !important;
    height: 28px !important;

    .mat-icon {
      font-size: 18px !important;
      margin-top: -6px !important;
    }
  }
}