.centrar{
    width: 100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.filter-card{
    box-shadow: 0 0 1.5cm rgba(0, 0, 0, 0.5) !important;
    width: 60% !important;
    font-family: hel;

}