<app-fixed-filtro  *ngIf="(filtroFacade.responseReporteFinal$ | async)"></app-fixed-filtro>

<div class="centrar" *ngIf="!(filtroFacade.responseReporteFinal$ | async)">
    <mat-card class="filter-card matCardPersonalizada">
        <mat-card-header>
            <!-- <div mat-card-avatar><i class="fas fa-filter" style="font-size: 40px;"></i></div> -->
            <mat-card-title>Generar Reporte</mat-card-title>
            <mat-card-subtitle>Filtro para la generación de reportes</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div *ngIf="(filtroFacade.responseCargando$ | async)">
                <app-loading [data]="4"></app-loading>
            </div>
              
            <div class="row" *ngIf="!(filtroFacade.responseCargando$ | async)">

                <mat-form-field appearance="legacy" class="col-md-12">
                    <mat-label>Reporte</mat-label>
                    <mat-select [formControl]="idReporte">
                        <mat-option *ngFor="let item of (filtroFacade.responseReportesModulo$ | async)" [value]="item.id">{{item.descripcion}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="title col-md-12">
                    <b>Filtrar Por:</b>
                </div>

                <div *ngFor="let item of elementoForm.controls" class="{{item.value.grid || 'col-md-6'}}">

                    <ng-container [formGroup]="item">

                        <mat-form-field appearance="legacy"  *ngIf="item.value.tipoElemento === 'select'">
                            <mat-label>{{item.value.titulo}}</mat-label>
                            <mat-select formControlName="value">
                              <mat-option *ngFor="let elemento of item.value.data" [value]="elemento.id">{{elemento.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <mat-form-field appearance="legacy"  *ngIf="item.value.tipoElemento === 'date'">
                            <mat-label><b>{{item.value.titulo}}</b> </mat-label>
                            <input matInput type="date" formControlName="value">
                        </mat-form-field>

                    </ng-container>
                      
                </div>
                
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="text-right" style="margin-bottom: 10px; margin-right: 10px;">
                <button mat-raised-button class="buttonPrincipal" (click)="generarReporte()">Generar Reporte</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<div *ngIf="(filtroFacade.responseReporteFinal$ | async)">
    <app-reporte-final></app-reporte-final>
</div>