@media screen {
    .page {
      background: white;
      margin: 0 auto;
      size: 100%;
      display: block !important;
      margin-top: 1cm;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5) !important;
      padding: 0.5cm !important;
      -webkit-print-color-adjust: exact;
    }
    .page[size="letter"] {
      width: 28cm;
      min-height: 27.9cm;
    }
    .page[size="landscape"] {
      
      min-height: 21cm;
    }
    .img-header {
      max-width: 100%;
      margin-bottom: 20px;
      margin-top: auto;
    }
    .titulo-documento {
      font: bold 20px !important;
      align-items: center !important;
    }
    h4 {
      font-size: 19px !important;
      font-weight: 700 !important;
    }
    h6 {
      font-size: 14px !important;
      font-weight: 700 !important;
    }
    small {
      font-size: 12px !important;
      font-weight: 200 !important;
    }
    *,
    *::before,
    *::after {
      text-shadow: none !important;
      box-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
    .navbar {
      display: none;
    }
    .badge {
      border: 1px solid #000;
    }

    .tabla {
      border-collapse: collapse !important;
      border: 1px solid !important;
      border-radius: 10px !important;
      padding: 0.5cm 3cm !important;
      margin: 0.5cm 1cm !important;
      text-align: center;
    }
    .tabla thead {
      background-color: #fff !important;
      border: 1px solid #000 !important;
    }

    .tabla td {
      background-color: #fff !important;
      border: 1px solid #000 !important;
      padding: 8px !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: 0.5px !important;
      margin-left: 0.5px !important;
      font-size: 10pt !important;
    }
    .tabla th {
      border: 1px solid #000 !important;
      padding: 8px !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: 0.5px !important;
      margin-left: 0.5px !important;
    }
    .tabla-bordered th,
    .tabla-bordered td {
      border: 1px solid #ddd !important;
      border: 1px solid !important;
      border-radius: 10px !important;
    }
    .tableRow {
      display: table;
      width: 100%; /*Optional*/
      table-layout: fixed; /*Optional*/
      border-spacing: 10px; /*Optional*/
    }
    .Column {
      display: table-cell;
    }
    .footer {
      position: fixed;
      bottom: 0;
    }
    .divImagePrint{
      width: 180px !important; 
      height: 70px !important;
    }
  }
  .tableRow {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }
  .Column {
    display: table-cell;
  }
  
  .jus {
    text-align: justify;
  }
  