<div *ngIf="!(userLocationFacade.responseUsuarioAsignado$ | async)">
    <app-user-table [idAccion]="2"></app-user-table>
</div>

<div *ngIf="(userLocationFacade.responseUsuarioAsignado$ | async)">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
            <li class="breadcrumb-item cursorActivo" aria-current="page"
                (click)="userLocationFacade.resetearUsuario()">Usuarios</li>
            <li class="breadcrumb-item active" aria-current="page">Permisos-Pin</li>
        </ol>
    </nav>
    <mat-card class="matCardPersonalizada">
        <mat-card-header>
            <mat-card-title>Permisos-Pin</mat-card-title>
            <mat-card-subtitle>Usuario: {{(userLocationFacade.responseUsuarios$ | async).Usuario}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="(userLocationFacade.responseCargando$ | async)">
                <app-loading [data]="4"></app-loading>
            </div>
            <div *ngIf="!(userLocationFacade.responseCargando$ | async)">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Búsqueda</mat-label>
                            <input matInput placeholder="Buscar " [formControl]="filter" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <b>Seleccione los permisos del usuario</b>
                </div>
                <div class="row">
                    <div class="col-md-12"
                        *ngFor="let item of ubicacionesUsuario.controls| searchFormReactive: this.filter?.value: ['ubicacion']">
                        <ng-container [formGroup]="item">
                            <mat-list role="list">
                                <div mat-subheader class="contentP">
                                    <div>
                                        <b style="margin-bottom: 0px !important; color: black;">{{item.value.ubicacion}}</b>
                                        <p style="margin-bottom: 0px !important; margin-left: 10px !important; color: black;">{{item.value.ciudad}}</p>

                                    </div>
                                    <div class="posicionFinal">
                                        <mat-slide-toggle formControlName="asignacion" (click)="asignar(item)">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </ng-container>


                    </div>
                </div>

            </div>

        </mat-card-content>

    </mat-card>
</div>