.example-spacer {
  flex: 1 1 auto;
}
.paginator{
  background-color: #f4f4f4 !important;

}
.paginator span{
  color: rgba(0, 0, 0, 0.54) !important;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  margin-left: 1%;
}