mat-list-item {
    /* border-left: 1.4px solid #003399 !important; */
    /* border-right: 1.4px solid #003399 !important; */
    border-bottom: 1.4px solid #003399 !important;
}

span {
    margin-left: 10px;
}

.derecha {
    padding-top: 0%;
    float: right;
}

.title {
    background-color: #003399 !important;
    color: white;
    text-align: center !important;
}