@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");

.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  width: 100%;
  height: 100%;
  background: #293949;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
 
}

// .user-profile {
//     background: url('../../.././../assets/images/unah.jpg') no-repeat;
//     background-size: cover;
// }

.mat-expansion-panel-body {
  padding: 0px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

}

a {
  padding: 0px 0px !important;
}
.textSideHeader {
  width: 100% !important;
  height: 100% !important;

  font-size: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}
.textSide {
  width: 100% !important;
  height: 100% !important;
  font-size: 12px !important;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}

.icon {
  color: #aeb2b7 !important;
  font-size: 14px !important;
  height: 100%;

  width: 20px;
  .fa-angle-left,
  .fa-angle-right {
    padding-top: 3px;
  }
}

.logoSideBar {
  max-width: 190px;
  max-height: 120px;
}



.list .mat-list-item-content{
  background-color: #23313f !important;
}

.fs2 :hover {
  border-radius: 5px;
  background-color: #1abc9c !important;

}

.is-active {
  border-radius: 5px;
  border-left-color: #52658f;
  border-left-style: solid !important;
  border-left-width: 5px !important;
  background: rgba(216, 216, 216, 0.8) !important;
}


// .mat-list-item{
//  border-bottom-color: #52658f;
//  border-bottom-style: solid !important;
//  border-bottom-width: 1px !important;
// }

.mat-list-item a {
  height: 45px;
  margin-top: 5px !important;
  // padding: 5px 10px !important;
  margin-bottom: 10px !important;
  align-items: center;
  display: flex;
  font-size: 15px;
  white-space: nowrap;
}

.mat-list-item span {
  color: #333a56;
}

.mat-expansion-panelP2 {
  background-color: rgba(#23313f, 0.95) !important;
  color: #aeb2b7 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mat-drawer-inner-container {
  background-color: #aeb2b7 !important;
  // background-image: url("./assets/images/BackGround/Lovepik_com-400381580-blue-technology-line-shading.png") !important;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
}

.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: #aeb2b7 !important;
}

.mat-list-base {
  padding-top: 0px !important;
}
