<div *ngIf="(dashboardService.responseCargando$  | async)">
    <app-loading [data]="4"></app-loading>
</div>

<div class="dashboard" *ngIf="!(dashboardService.responseCargando$ | async)">
    <div class="row">
        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon" >
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">Used Space</p>
                    <h3 class="card-title">49/50
                        <small>GB</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Get More Space...</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-lg-3 col-md-6 col-sm-6 animate__animated animate__fadeInLeft " *ngFor="let item of (dashboardService.responseDashboard$ | async).card" >
            <div class="card card-stats ">
                <div class="card-header  card-header-icon" [class]="item.class">
                    <div class="card-icon">
                        <i [class]="item.icon"></i>
                    </div>
                    <p class="card-category">{{item.category}}</p>
                    <h1 class="card-title "> {{item.title}}</h1>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i [class]="item.footerIcon"></i> {{item.titleFooter}}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">Fixed Issues</p>
                    <h3 class="card-title">75</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Github
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">Followers</p>
                    <h3 class="card-title">+245</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    
    <div class="row ">
    
        <div *ngFor="let item of (dashboardService.responseDashboard$ | async).chart" [ngClass]="[item?.class || 'col-md-6 col-sm-12', animacionChart]" >
            <mat-card class="card-chart" >
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon style="font-size: 34px;">trending_up</mat-icon>
                    </div>
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
                </mat-card-header>
                <div class="card-header chartsuccess">
                        <div style="display: block;">
                            <canvas baseChart height="120vh"  [datasets]="item.data" [labels]="item.chartLabels"
                                [colors]="item.chartStyleColor" [options]="barChartOptions" [legend]="item.chartLegend"
                                [chartType]="item.chartType || 'bar'" [plugins]="barChartPlugins">
                            </canvas>
                        </div>
                </div>
                <mat-card-content>
                    <!-- <h4 class="card-title">{{item.description}}</h4> -->
                    <p class="card-category">
                        <span class="text-success">{{item.description}} </span> 
                    </p>
                </mat-card-content>
    
                <mat-card-actions class="mat-card-footer">
                    <div class="stats">
                        {{item.footer}}
                    </div>
                </mat-card-actions>
            </mat-card>
    
            <!-- <div class="card card-chart">
                <div class="card-header chartsuccess">
                    <div>
                        <div style="display: block">
                          <canvas baseChart
                                  [datasets]="item.data"
                                  [labels]=" item.chartLabels"
                                  [colors]="item.chartStyleColor"
                                  [options]="barChartOptions"
                                  [legend]="item.chartLegend"
                                  [chartType]="item.chartType">
                          </canvas>
                        </div>
                      </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Daily Sales</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                </div>
            </div> -->
        </div>
    
    </div>
    
    <div class="row mt-2">
        <div class="col-md-12 animate__animated animate__zoomIn" style="margin-bottom: 20px !important;">
            <mat-card>
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab  *ngFor="let item of (dashboardService.responseDashboard$ | async).tables" [label]="item?.tab">
                        <div class="title" style="padding-left: 1%;">
                            <h4 style="font-weight: bold;">{{item?.tableTitle}}</h4>
                        </div>
                        <table mat-table [dataSource]="item?.data" class="mat-elevation-z8">
                            
                            <ng-container [matColumnDef]="column" *ngFor="let column of item?.th">
                              <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="columsDisplay(item?.th)"></tr>
                            <tr mat-row *matRowDef="let row; columns: columsDisplay(item?.th);"></tr>
                        </table>
                    </mat-tab>
                  
                </mat-tab-group>
            </mat-card>
            
        </div>
    </div>
</div>

