.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}


.card-stats{
    .card-header{
      &.card-header-icon,
      &.card-header-text{
        text-align: right;
      }
  
      .card-icon + .card-title,
      .card-icon + .card-category{
        padding-top: 10px;
      }
  
      &.card-header-icon .card-title,
      &.card-header-text .card-title,
      &.card-header-icon .card-category,
      &.card-header-text .card-category {
        margin: 0;
      }
      .card-category {
        margin-bottom: 0;
        margin-top: 0;
  
        &:not([class*="text-"]){
          color: #999;
        }
      }
  
      & + .card-footer{
        border-top: 1px solid #eee;
        margin-top: 14px;
      }
  
      &.card-header-icon i {
        font-size: 36px;
        line-height: 56px;
        width: 56px;
        height: 56px;
        text-align: center;
      }
    }
  
    .card-body {
      text-align: right;
    }
  }
  

 .card-icon{ 
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    color: white ;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    justify-content: center;
    align-items: center;
    i{
      font-size: 32px !important;
    }
    
}

.card-header-warning{
  .card-icon{
    background: linear-gradient( 60deg,#ffa726,#fb8c00);
  }
}

.card-header-success{
  .card-icon{
    background: linear-gradient(60deg,#66bb6a,#43a047);
  }
}

.card-header-danger{
  .card-icon{
    background: linear-gradient(60deg,#ef5350,#e53935);
  }
}

.card-header-info{
  .card-icon{
    background: linear-gradient(60deg,#26c6da,#00acc1);
  }
}

.card-footer {
  padding: 10px 0 0;
  margin: 0 15px 10px;
  border-radius: 0;
  justify-content: space-between;
  align-items: center;
  i {
      position: relative;
      top: 4px;
      font-size: 16px;
  }
}

.mat-card-footer{
  padding: 0.75rem 1.25rem !important;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  justify-content: space-between !important;
  align-items: center !important;
  i {
      position: relative;
      top: 4px;
      font-size: 16px;
  }
}

.card-header{
  border-radius: 3px;
  // margin-top: -20px;
  padding: 15px;
  // margin-left: 15px;
}

.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;

    .card-category:not([class*="text-"]) {
        color: #999;
    }
    .card-category{
        margin-top: 10px;

        i{
            position: relative;
            top: 8px;
            line-height: 0;
          }
  }

  .form-check {
      margin-top: 15px;
  }

    .card-title{
        margin-top: 0.625rem;
        font-size: 50px !important;
        font-weight: 400;

        &:last-child{
            margin-bottom: 0;
        }
    }



  &.no-shadow {
    .card-header-image,
    .card-header-image img {
      box-shadow: none !important;
      }
  }

  .card-body {
      & + .card-footer{
        padding-top: 0rem;
        border: 0;
      }
  }

  .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;

    .author,
    .stats {
        display: inline-flex;
    }

    .stats {
        color: #999;

        i {
            position: relative;
            top: -10px;
            margin-right: 3px;
            margin-left: 3px;
            font-size: 18px;
        }
    }
  }




    .card-header {
      border-bottom: none;
      background: transparent;
        .title{
            color: white;
        }

     

        .nav-tabs {
            padding: 0;
        }

        &.card-header-image {
            position: relative;
            padding: 0;
            z-index: 1;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: -30px;

           
            .card-title {
                position: absolute;
                bottom: 15px;
                left: 15px;
                color: white;
                text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
            }

            .colored-shadow{
                transform: scale(0.94);
                top: 12px;
                filter: blur(12px);
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: cover;
                z-index: -1;
                transition: opacity .45s;
                opacity: 0;
            }

            &.no-shadow{
                box-shadow: none;

               

                .colored-shadow{
                    display: none !important;
                }
            }
        }
    }


    [class*="card-header-"],
    &[class*="bg-"]{
        color: white;

        .card-title a,
        .card-title,
        .icon i{
            color: white;
        }

        .icon i{
            border-color: rgba(255, 255, 255, 0.25);
        }
       
        .author a{
            &:hover,
            &:focus,
            &:active{
                color: white;
            }
        }
    }

    .author{
        .avatar{
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 5px;
        }

        a{
            color: black;
            text-decoration: none;

            .ripple-container{
                display: none;
            }
        }
    }

    .card-category-social{
        .fa{
            font-size: 24px;
            position: relative;
            margin-top: -4px;
            top: 2px;
            margin-right: 5px;
        }

        i{
            position: relative;
            top: 5px;
        }
    }

    .card-stats{
        background: transparent;
        display: flex;

        .author,
        .stats{
            display: inline-flex;
        }
    }
}

.card {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);

  .table tr:first-child td{
    border-top: none;
  }

  .card-title{
    margin-top: 0;
    margin-bottom: 15px;
  }


  .card-header {
    z-index: 3 !important;

    .card-title{
      margin-bottom: 3px;
    }

    .card-category{
      margin: 0;
    }

    &.card-header-text {
        display: inline-block;

        &:after {
            content: "";
            display: table;
        }
    }

    &.card-header-icon,
    &.card-header-text {
        i {
            width: 33px;
            height: 33px;
            text-align: center;
            line-height: 33px;
        }
        .card-title{
          margin-top: 15px;
          color: black;
        }
        h4{
          font-weight: 300;
        }
    }

    &.card-header-tabs {
        .nav-tabs {
            background: transparent;
            padding: 0;
        }
        .nav-tabs-title {
            float: left;
            padding: 10px 10px 10px 0;
            line-height: 24px;
        }
    }
  }

  &.card-plain {
    .card-header {
      &.card-header-icon + .card-body .card-title,
      &.card-header-icon + .card-body .card-category {
          margin-top: -20px;
      }
    }
  }

  .card-actions {
      position: absolute;
      z-index: 1;
      top: -50px;
      width: calc(100% - 30px);
      left: 17px;
      right: 17px;
      text-align: center;

      .card-header{
        padding: 0;
        min-height: 160px;
      }

      .btn {
          padding-left: 12px;
          padding-right: 12px;
      }
      .fix-broken-card {
          position: absolute;
          top: -65px;
      }
  }

  &.card-chart {
    .card-footer i:nth-child(1n+2){
      width: 18px;
      text-align: center;
    }

    .card-category{
      margin: 0;
    }
  }

  .card-body + .card-footer,
  .card-footer{
    padding: 0;
    padding-top: 10px;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;

    h6 {
      width: 100%;
    }

    .stats{
      color: #999999;
      font-size: 12px;
      line-height: 22px;

      .card-category{
        padding-top: 7px;
        padding-bottom: 7px;
        margin: 0;
      }

      i{
        position: relative;
        top: 4px;
        font-size: 16px;
      }
    }
  }
  [class*="card-header-"] {
      margin: 0px 15px 0;
      padding: 0;

      .card-title + .card-category{
        color: rgba(255, 255, 255, 0.62);
        a {
          color: white;
        }
      }

      &:not(.card-header-icon):not(.card-header-text):not(.card-header-image){
        margin-top: -20px;
        padding: 15px;
      }

      .card-icon,
      .card-text{
        background-color: #999;
        padding: 15px;
        margin-top: -20px;
        margin-right: 15px;
        float: left;
      }

      .card-text{
        float: none;
        display: inline-block;
        margin-right: 0;

        .card-title{
          color: white;
          margin-top: 0;
        }
      }

      position: relative;

      .ct-chart{
        .card-title{
            color: white;
        }
        .card-category{
            margin-bottom: 0;
            color: rgba(white, .62);
        }

        .ct-label{
            color: rgba(white, .7);
        }
        .ct-grid{
            stroke: rgba(255, 255, 255, 0.2);
        }
        .ct-series-a .ct-point,
        .ct-series-a .ct-line,
        .ct-series-a .ct-bar,
        .ct-series-a .ct-slice-donut{
            stroke: rgba(255,255,255,.8);
        }
        .ct-series-a .ct-slice-pie,
        .ct-series-a .ct-area{
            fill: rgba(255,255,255,.4);
        }
        .ct-series-a .ct-bar{
          stroke-width: 10px;
        }
        .ct-point{
          stroke-width: 10px;
          stroke-linecap: round;
        }
        .ct-line{
          fill: none;
          stroke-width: 4px;
        }
      }
  }

  [data-header-animation="true"] {
      -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
      -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
      -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
      -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
      transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  }


  .map {
    height: 280px;
    margin-top: 15px;

    &.map-big{
      height: 420px;
    }
  }

  .card-body.table-full-width{
    padding: 0;
  }

  .card-plain .card-header-icon {
    margin-right: 15px !important;
  }
}

.table-sales{
    margin-top: 40px;
}

.iframe-container {
    width: 100%;

    iframe {
        width: 100%;
        height: 500px;
        border: 0;
    }
}

.card-wizard {
  .nav.nav-pills {
    .nav-item {
      margin: 0;

      .nav-link {
        padding: 6px 15px !important;
      }
    }
  }
  .nav-pills:not(.flex-column) .nav-item + .nav-item:not(:first-child) {
    margin-left: 0;
  }

  .nav-item .nav-link.active,
  .nav-item .nav-link:hover,
  .nav-item .nav-link:focus {
    background-color: inherit !important;
    box-shadow: none !important;
  }

  .input-group-text {
    padding: 6px 15px 0px !important;
  }
  .card-footer {
    border-top: none !important;
  }
}

.card-chart,
.card-product {
  .card-body + .card-footer {
    border-top: 1px solid #eee;
  }
}

.card-product{
  .price{
    color: inherit;
  }
}

.card-collapse {
  margin-bottom: 15px;

  .card .card-header a[aria-expanded="true"]{
    color: #e91e63;
  }
}
.chartsuccess{
  // background-color: #384051 !important;
  // background-color:  #1a2049;
  // background-color: linear-gradient(#1a2049, #13162f) !important;
  background: linear-gradient(
    60deg
    ,rgba(26, 32, 73, 1),rgba(19, 22, 47, 1)) !important;
}
