<div class="toast-container">
  <div class="Message-icon">
    <div class="dring">
      <svg id="main" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80"
        height="80" viewBox="0 0 200 200">
        <animateTransform xlink:href="#smartphone_cloche" attributeName="transform" attributeType="XML" type="translate"
          values="1; -1; 1; -1; 1; -1; 1; -1; 0; 0; 0; 0; 0; 0; 0; 0" dur=".5" begin="0s" repeatCount="indefinite"
          id="animCloche" />
        <animateTransform xlink:href="#cloche" attributeName="transform" attributeType="XML" type="rotate"
          values="-20; 20; -20; 20; -20; 20; 0; 0; 0; 0; 0; 0; 0; 0" dur=".5" begin="0s" repeatCount="indefinite"
          id="animCloche" />
        <defs>
          <polygon id="notifs-a" points="0 200 200 200 200 0 0 0" />
        </defs>
        <g id="smartphone_cloche" fill="none" left="100px" fill-rule="evenodd">
          <path fill="#FFF"
            d="M177.7718,98.5384 C177.7718,141.593067 142.869133,176.4964 99.8138,176.4964 C56.7591333,176.4964 21.8564667,141.593067 21.8564667,98.5384 C21.8564667,55.4830667 56.7591333,20.5804 99.8138,20.5804 C142.869133,20.5804 177.7718,55.4830667 177.7718,98.5384" />
          <g transform="translate(133.333 27.333)">
            <line x1=".235" x2="7.098" y1="13.852" y2=".127" fill="#FFF" />
            <path fill="#17479E" fill-rule="nonzero"
              d="M6.02468737,-0.409789648 C6.32107447,-1.00256384 7.04188212,-1.24283306 7.63465631,-0.946445963 C8.18791223,-0.669818004 8.43409714,-0.0234725885 8.22348919,0.543424719 L8.17131263,0.663522981 L1.30864596,14.3888563 C1.01225886,14.9816305 0.291451216,15.2218997 -0.301322981,14.9255126 C-0.854578898,14.6488847 -1.10076381,14.0025393 -0.890155861,13.4356419 L-0.837979296,13.3155437 L6.02468737,-0.409789648 Z" />
          </g>
          <g transform="translate(125.333 28.667)">
            <line x2="1.373" y1=".166" y2="11.147" fill="#FFF" />
            <path fill="#17479E" fill-rule="nonzero"
              d="M-0.148850579,-1.02473234 C0.467671276,-1.10180225 1.03332941,-0.696638927 1.16936562,-0.103827545 L1.19073234,0.0171494209 L2.56339901,10.9978161 C2.64560691,11.6554394 2.17914056,12.2551911 1.52151725,12.337399 C0.90499539,12.4144689 0.339337255,12.0093056 0.203301051,11.4164942 L0.181934327,11.2955172 L-1.19073234,0.314850579 C-1.27294024,-0.342772733 -0.806473891,-0.942524435 -0.148850579,-1.02473234 Z" />
          </g>
          <g transform="translate(137.333 39.333)">
            <line x1="11.333" x2=".353" y1=".48" y2="7.342" fill="#FFF" />
            <path fill="#17479E" fill-rule="nonzero"
              d="M10.6973513,-0.537808377 C11.2593609,-0.889051574 11.9996985,-0.718191656 12.3509417,-0.156182068 C12.6787687,0.368360215 12.5517859,1.04824606 12.0764632,1.42213994 L11.9693154,1.49740838 L0.988648734,8.36007504 C0.426639146,8.71131824 -0.313698514,8.54045832 -0.664941711,7.97844873 C-0.992768695,7.45390645 -0.865785853,6.77402061 -0.390463189,6.40012673 L-0.283315401,6.32485829 L10.6973513,-0.537808377 Z" />
          </g>
          <path fill="#FFF"
            d="M75.0452667,107.218733 L63.6112667,102.9954 L48.3692667,151.294733 C49.2492667,151.990733 50.1086,152.706067 50.9286,153.432733 C53.8072667,155.9834 56.5512667,158.916733 58.8606,162.082733 L73.6319333,164.2074 C76.8866,160.666733 79.3359333,158.3714 82.1452667,155.718067 C103.875267,157.310067 113.907933,141.2754 116.077933,138.7394 C118.2486,136.204733 75.0452667,107.218733 75.0452667,107.218733" />
          <path fill="#17479E" fill-rule="nonzero"
            d="M82.587,156.95 L83.2305302,156.985252 C93.7159,157.474273 102.285239,154.076517 109.289811,148.024716 C110.9877,146.557776 112.496424,145.017435 113.913427,143.367268 L114.440694,142.743237 C115.240811,141.781103 116.894377,139.630981 116.989701,139.51958 C118.284927,138.007156 116.648205,136.22378 111.853832,132.238751 L111.147739,131.656941 C107.999882,129.084453 103.712462,125.848695 98.5201724,122.094837 L96.299748,120.497502 C92.2962902,117.631117 88.039795,114.65226 83.7553214,111.701709 L80.3014693,109.333331 L75.7138386,106.222234 C75.6349831,106.169328 75.5501265,106.125969 75.4610497,106.093067 L64.0270497,101.869734 C63.3840922,101.632247 62.6731684,101.980626 62.4668966,102.634267 L47.2248966,150.9336 C47.0749837,151.408649 47.2341515,151.926919 47.6248615,152.235935 C48.5094593,152.935572 49.3483769,153.63576 50.1327239,154.330832 C53.0590169,156.923698 55.7110197,159.80109 57.8911064,162.789898 C58.0816848,163.051173 58.3696523,163.224467 58.6897537,163.270509 L73.461087,165.395176 C73.8529779,165.451544 74.2474515,165.310982 74.515392,165.019497 C76.3154111,163.061303 77.9157422,161.428023 79.8009436,159.604095 L80.893389,158.555689 L82.587,156.95 Z M64.376,104.557 L74.495,108.294 L78.3591696,110.913574 C79.1360748,111.443172 79.9480928,111.99836 80.7902008,112.575995 L83.9943951,114.782654 C87.7243449,117.361896 91.4109,119.948928 94.9025915,122.4489 L97.1140421,124.039778 L98.8620427,125.308951 C103.425209,128.636997 107.194935,131.508597 109.977112,133.800914 L110.955544,134.617765 C112.389771,135.832537 113.477005,136.838285 114.184094,137.608731 L114.322723,137.762307 C114.499429,137.961534 114.643471,138.138252 114.753268,138.288394 L114.825,138.39 L113.761173,139.751438 C113.330311,140.299795 112.892629,140.851256 112.595397,141.208675 C111.104507,143.001457 109.523165,144.651416 107.720768,146.208649 C100.91251,152.090838 92.5761142,155.279043 82.232947,154.521274 C81.8970071,154.496662 81.5661904,154.614376 81.3213063,154.845662 L79.0055857,157.039733 L78.130176,157.881149 C76.426726,159.529283 74.9479634,161.028435 73.3527884,162.741969 L73.178,162.929 L59.526,160.965 L59.8300936,161.375568 C57.5449356,158.242712 54.7760672,155.238522 51.7244155,152.534581 L51.100241,151.989851 C50.8184234,151.74756 50.5308114,151.505065 50.23773,151.262564 L49.76,150.871 L64.376,104.557 Z" />
          <path fill="#FFF"
            d="M72.7581333,106.810533 C74.9521333,100.206533 75.8534667,95.4918667 76.5854667,87.7265333 C77.0061333,83.2612 75.1128,79.4318667 73.1381333,76.6652 C71.1188,73.8372 66.1894667,74.4865333 65.1994667,77.6532 C60.8401333,91.6018667 60.0241333,95.3972 57.3281333,102.401867 C54.3128,110.2372 56.0401333,121.2312 54.5421333,124.4452 C54.2441333,125.086533 44.1161333,138.1252 41.3161333,142.079867 C44.2988,143.583867 50.5474667,146.345867 53.0048,148.5232 C55.9941333,151.172533 58.8448,154.2192 61.2428,157.5072 L63.5541333,157.691867 L77.0088,143.8252 C82.7954667,127.293867 77.9934667,113.4232 72.7581333,106.810533" />
          <path fill="#FFF"
            d="M119.136733,141.7376 L79.5907333,141.7376 C75.7520667,141.7376 72.6120667,138.596933 72.6120667,134.758267 L72.6120667,53.3402667 C72.6120667,49.5016 75.7520667,46.3616 79.5907333,46.3616 L119.136733,46.3616 C122.974733,46.3616 126.1154,49.5016 126.1154,53.3402667 L126.1154,134.758267 C126.1154,138.596933 122.974733,141.7376 119.136733,141.7376" />
          <path fill="#17479E" fill-rule="nonzero"
            d="M119.136733,45.0282667 L79.5907333,45.0282667 C75.015687,45.0282667 71.2787333,48.7652203 71.2787333,53.3402667 L71.2787333,134.758267 C71.2787333,139.3334 75.0157741,143.070933 79.5907333,143.070933 L119.136733,143.070933 C123.711236,143.070933 127.448733,139.33319 127.448733,134.758267 L127.448733,53.3402667 C127.448733,48.7654305 123.711323,45.0282667 119.136733,45.0282667 Z M79.5907333,47.6949333 L119.136733,47.6949333 C122.238603,47.6949333 124.782067,50.2382292 124.782067,53.3402667 L124.782067,134.758267 C124.782067,137.86047 122.238437,140.404267 119.136733,140.404267 L79.5907333,140.404267 C76.4886121,140.404267 73.9454,137.860719 73.9454,134.758267 L73.9454,53.3402667 C73.9454,50.2379797 76.4884463,47.6949333 79.5907333,47.6949333 Z" />

          <!-- cloche - debut -->
          <g id="cloche">
            <path xmlns="http://www.w3.org/2000/svg" fill="#fff"
              d="M103.3636,83.5228 C103.3636,85.7321333 101.572933,87.5228 99.3636,87.5228 C97.1549333,87.5228 95.3636,85.7321333 95.3636,83.5228 C95.3636,81.3141333 97.1549333,79.5228 99.3636,79.5228 C101.572933,79.5228 103.3636,81.3141333 103.3636,83.5228" />
            <path fill="#FFCA3B" fill-rule="nonzero"
              d="M99.3636,78.1894667 C96.4185537,78.1894667 94.0302667,80.5777537 94.0302667,83.5228 C94.0302667,86.4683171 96.4183578,88.8561333 99.3636,88.8561333 C102.309313,88.8561333 104.696933,86.468513 104.696933,83.5228 C104.696933,80.5775578 102.309117,78.1894667 99.3636,78.1894667 Z M99.3636,80.8561333 C100.836289,80.8561333 102.030267,82.0502484 102.030267,83.5228 C102.030267,84.9957537 100.836554,86.1894667 99.3636,86.1894667 C97.8910484,86.1894667 96.6969333,84.9954891 96.6969333,83.5228 C96.6969333,82.050513 97.891313,80.8561333 99.3636,80.8561333 Z" />


            <path fill="#fff"
              d="M99.3636,83.5228 L99.3636,83.5228 C103.994933,83.5228 107.784933,87.1708 107.784933,91.6281333 L107.784933,98.3828 C107.784933,99.1481333 107.140267,99.0668 106.344267,99.0668 L92.3829333,99.0668 C91.5876,99.0668 90.9429333,99.1481333 90.9429333,98.3828 L90.9429333,91.6281333 C90.9429333,87.1708 94.7322667,83.5228 99.3636,83.5228" />
            <path fill="#FFCA3B" fill-rule="nonzero"
              d="M99.3636 82.1894667L99.0877685 82.1933432C93.8349688 82.3464034 89.6096 86.5296457 89.6096 91.6281333L89.6096 98.3828C89.6096 99.2432361 90.0455551 99.9374652 90.8214079 100.234764 91.148831 100.36023 91.3790253 100.395735 91.817428 100.40157L106.91009 100.40157C107.348649 100.395738 107.578842 100.360244 107.906277 100.23481 108.68224 99.9375531 109.118267 99.2433005 109.118267 98.3828L109.118267 91.6281333C109.118267 86.422701 104.720073 82.1894667 99.3636 82.1894667zM99.1460599 84.8593017L99.3830202 84.8559919 99.6067624 84.8600993C103.40084 84.9840231 106.4516 87.9960295 106.4516 91.6281333L106.451 97.733 92.276 97.733 92.2762667 91.6281333C92.2762667 87.9957804 95.3319693 84.9705428 99.1460599 84.8593017zM103.696933 103.2422L95.0302667 103.2422C94.293887 103.2422 93.6969333 103.839154 93.6969333 104.575533 93.6969333 107.695246 96.243887 110.2422 99.3636 110.2422 102.483313 110.2422 105.030267 107.695246 105.030267 104.575533 105.030267 103.839154 104.433313 103.2422 103.696933 103.2422zM102.047 105.908L101.979397 106.037398C101.463419 106.952511 100.481176 107.575533 99.3636 107.575533L99.1883136 107.570404C98.1439219 107.509143 97.2366242 106.904347 96.7478026 106.037398L96.679 105.908 102.047 105.908z" />


            <path fill="#FFF"
              d="M107.735333,99.0319333 L90.992,99.0319333 C90.5226667,99.0319333 90.0846667,99.2666 89.824,99.6566 L88.8886667,102.393933 C88.2666667,103.325933 88.9353333,104.575267 90.056,104.575267 L108.670667,104.575267 C109.792,104.575267 110.460667,103.325933 109.838667,102.393933 L108.902667,99.6566 C108.642667,99.2666 108.204667,99.0319333 107.735333,99.0319333" />
            <path fill="#FFCA3B" fill-rule="nonzero"
              d="M107.735333,97.6986 L90.992,97.6986 C90.0774497,97.6986 89.223574,98.1554891 88.715475,98.9156884 L88.6555016,99.0144246 C88.6184258,99.0818876 88.587227,99.1524984 88.5622896,99.2254798 L87.671,101.83 L87.6125957,101.937968 C86.702293,103.715447 87.9823503,105.9086 90.056,105.9086 L108.670667,105.9086 L108.837067,105.903846 C110.812335,105.790364 112.000529,103.66758 111.114754,101.937995 L111.054,101.826 L110.164283,99.2252046 C110.127055,99.1163322 110.075892,99.0127365 110.012067,98.9169997 C109.504698,98.1559455 108.650324,97.6986 107.735333,97.6986 Z M90.99,100.365 L107.735333,100.365267 L108.57705,102.825329 C108.614349,102.93441 108.665638,103.038194 108.729633,103.134083 C108.760199,103.179883 108.726979,103.241933 108.670667,103.241933 L90.056,103.241933 C90.0003483,103.241933 89.9671379,103.179878 89.9977008,103.134083 L90.0574592,103.035573 C90.0944062,102.968272 90.1255058,102.897841 90.1503771,102.825054 L90.99,100.365 Z" />
          </g>
          <!-- cloche - fin -->

          <path fill="#FFF"
            d="M124.236333,131.633467 L123.770333,131.231467 C121.378333,129.168133 120.487667,126.243467 121.791667,124.732133 L127.346333,118.342133 C129.354333,116.0148 132.953667,115.800133 135.345667,117.863467 L135.811667,118.265467 C138.203667,120.329467 138.518333,123.921467 136.510333,126.248133 L130.955667,132.6388 C129.651667,134.149467 126.628333,133.697467 124.236333,131.633467" />
          <path fill="#17479E" fill-rule="nonzero"
            d="M126.437765 117.55823L120.88601 123.944869C119.051232 126.07136 120.15545 129.698038 122.98653 132.140121L123.452497 132.542093C126.28303 134.984492 130.032038 135.545279 131.864053 133.422914L137.416031 127.035351C139.86469 124.198105 139.483956 119.849218 136.595615 117.356938L136.12947 116.954812C133.240964 114.463194 128.88339 114.723677 126.437765 117.55823zM134.561864 118.772121L135.027831 119.174093C136.923589 120.809898 137.171799 123.645035 135.601877 125.464101L130.049969 131.851582C129.271113 132.753866 126.973303 132.410153 125.020282 130.724938L124.554169 130.322841C122.600958 128.638006 121.924243 126.41541 122.700224 125.516049L128.25199 119.129398C129.824831 117.306441 132.665838 117.136614 134.561864 118.772121zM120.009333 56.6595333C120.745713 56.6595333 121.342667 57.256487 121.342667 57.9928667 121.342667 58.6859299 120.813877 59.2554877 120.137742 59.3200964L120.009333 59.3262 72.612 59.3262C71.8756203 59.3262 71.2786667 58.7292463 71.2786667 57.9928667 71.2786667 57.2998035 71.8074561 56.7302456 72.4835911 56.665637L72.612 56.6595333 120.009333 56.6595333zM98.420791 51.2342576C98.94149 50.7135586 99.78571 50.7135586 100.306409 51.2342576 100.827108 51.7549567 100.827108 52.5991767 100.306409 53.1198757 99.78571 53.6405748 98.94149 53.6405748 98.420791 53.1198757 97.9000919 52.5991767 97.9000919 51.7549567 98.420791 51.2342576z" />
          <path fill="#17479E" fill-rule="nonzero"
            d="M120.3 128.7728C121.03638 128.7728 121.633333 129.369754 121.633333 130.106133 121.633333 130.799197 121.104544 131.368754 120.428409 131.433363L120.3 131.439467 72.612 131.439467C71.8756203 131.439467 71.2786667 130.842513 71.2786667 130.106133 71.2786667 129.41307 71.8074561 128.843512 72.4835911 128.778904L72.612 128.7728 120.3 128.7728zM101.399133 134.588533C102.135513 134.588533 102.732467 135.185487 102.732467 135.921867 102.732467 136.61493 102.203677 137.184488 101.527542 137.249096L101.399133 137.2552 97.9098 137.2552C97.1734203 137.2552 96.5764667 136.658246 96.5764667 135.921867 96.5764667 135.228803 97.1052561 134.659246 97.7813911 134.594637L97.9098 134.588533 101.399133 134.588533z" />
          <g transform="translate(40.667 74.667)">
            <path fill="#FFF"
              d="M36.3421333,69.1588667 C42.1288,52.6268667 37.3268,38.7562 32.0914667,32.1442 C34.2854667,25.5395333 35.1868,20.8255333 35.9188,13.0595333 C36.3394667,8.5942 34.4461333,4.76486667 32.4714667,1.99886667 C30.4521333,-0.829133333 25.5228,-0.180466667 24.5328,2.9862 C20.1734667,16.9348667 19.3574667,20.7302 16.6614667,27.7348667 C13.6461333,35.5702 15.3734667,46.5642 13.8754667,49.7788667 C13.5774667,50.4202 3.44946667,63.4582 0.649466667,67.4135333 C3.63213333,68.9175333 9.8808,71.6788667 12.3381333,73.8568667 C15.3274667,76.5062 18.1781333,79.5528667 20.5761333,82.8402 L22.8874667,83.0255333" />
            <path fill="#17479E" fill-rule="nonzero"
              d="M23.3874669,2.62813272 C24.6837342,-1.5181766 30.872786,-2.30503461 33.4481218,1.30162579 C36.0983361,5.01389426 37.5110232,8.9525244 37.1135046,13.1721426 C36.4046812,20.6922553 35.528132,25.3508401 33.6248727,31.3117258 L33.43,31.915 L33.5185759,32.0322696 C40.0638997,40.8122075 42.4462224,54.8449864 37.6533106,69.0360683 L37.4747534,69.5553157 C37.2558007,70.1808444 36.5712131,70.5104395 35.9456843,70.2914867 C35.3201556,70.072534 34.9905605,69.3879465 35.2095133,68.7624177 C40.0849861,54.8336186 37.6387584,41.0832927 31.1506694,32.8891164 C30.899586,32.572009 30.8251455,32.1497496 30.9526565,31.7658994 L31.3362311,30.5891309 C33.1858446,24.798002 34.0305396,20.3050579 34.7240898,12.946983 C35.0597728,9.38374261 33.8386648,5.97924299 31.4948776,2.69620005 C30.0458598,0.666905414 26.3690172,1.13436846 25.6781672,3.34415804 L24.2719517,7.90845955 C22.6119876,13.3418967 20.576211,20.1046911 20.1562066,21.4165779 C19.9305872,22.1213018 19.711377,22.788803 19.4906674,23.442182 C18.9648516,24.998784 18.4179693,26.5119379 17.7813979,28.1658587 C17.0220562,30.1390054 16.5299864,32.4527287 16.2369257,35.1780342 L16.1439747,36.1077597 C15.9906444,37.7797412 15.9252061,39.3651127 15.8478776,42.3855852 L15.8063326,43.9416744 C15.6990375,47.5095026 15.5390565,48.9773731 15.0171333,50.1664833 L14.9637231,50.2845326 C14.8653643,50.496213 14.5171948,50.9914797 13.7291012,52.0470883 L11.2241965,55.362035 L6.93691723,60.9969815 C5.84294061,62.437615 4.92192819,63.6555755 4.15171821,64.6815997 L2.456,66.961 L6.19401369,68.7878984 L6.73106257,69.0562268 C7.83916115,69.6168043 8.81071468,70.1326178 9.67770068,70.6260609 C11.1776125,71.4797324 12.3316406,72.2476071 13.1340514,72.9588052 C16.090625,75.5791048 18.7910346,78.4696054 21.0649308,81.484991 L21.215,81.687 L22.9833803,81.8293726 C23.6027128,81.8790335 24.0743681,82.3905682 24.0872584,82.9986513 L24.0836274,83.121447 C24.0339665,83.7407795 23.5224318,84.2124347 22.9143487,84.2253251 L22.791553,84.2216941 L20.4802197,84.0363608 C20.1317061,84.0084153 19.8127116,83.8298615 19.6066628,83.5473964 C17.3416111,80.4423172 14.5846983,77.451366 11.5421829,74.7548995 C10.8899299,74.1767902 9.85811194,73.4902325 8.49055537,72.7118908 L7.75259182,72.3005789 C7.24189836,72.0214593 6.69289508,71.7319036 6.10033622,71.4282359 L5.35882627,71.0528613 C3.90974703,70.330347 0.563507709,68.7141164 0.109173163,68.4850197 C-0.545935054,68.1546835 -0.753870458,67.3190151 -0.329960577,66.720192 L0.201722644,65.979741 C1.11428647,64.7232573 2.4866033,62.8928238 4.48563075,60.2569797 L12.5210031,49.6602234 C12.6752231,49.4496691 12.7444558,49.3488641 12.7742537,49.297429 L12.7877647,49.2720093 C13.1485861,48.4976966 13.2990864,47.1865211 13.3990811,44.1193169 L13.5018995,40.4291448 C13.5771236,38.047487 13.6632877,36.6641041 13.8506825,34.9214339 C14.1642864,32.0050878 14.697884,29.4961 15.5415536,27.3038275 C16.166239,25.6807887 16.7017963,24.1989698 17.2168907,22.6741067 C17.3612237,22.2468297 17.505002,21.8130943 17.6505501,21.3660955 L17.977064,20.3464628 C18.7585928,17.8397968 21.8572846,7.52429496 23.3874669,2.62813272 Z" />
          </g>
          <polygon fill="#FFF" points="45.301 133.143 33.779 144.657 66.434 177.333 77.955 165.821" />
          <path fill="#17479E" fill-rule="nonzero"
            d="M44.4525912,132.294353 L32.9305912,143.807686 C32.4617693,144.276155 32.4615023,145.035986 32.9299948,145.504784 L65.5853282,178.181451 C66.0537878,178.650217 66.8135532,178.650484 67.2823421,178.182047 L78.8036755,166.669381 C79.2724906,166.200918 79.2727654,165.441101 78.8042891,164.9723 L46.1496225,132.294966 C45.6811656,131.826184 44.9213869,131.82591 44.4525912,132.294353 Z M45.3,134.84 L76.258,165.819 L66.434,175.636 L35.476,144.657 L45.3,134.84 Z" />
          <path fill="#FFF"
            d="M124.7982,119.453133 L124.3702,119.0838 C122.1742,117.189133 121.3562,114.5038 122.552867,113.117133 L127.653533,107.249133 C129.4962,105.113133 132.801533,104.9158 134.997533,106.810467 L135.425533,107.1798 C137.621533,109.074467 137.9102,112.372467 136.067533,114.508467 L130.967533,120.376467 C129.770867,121.763133 126.9942,121.3478 124.7982,119.453133" />
          <path fill="#17479E" fill-rule="nonzero"
            d="M126.744912,106.465292 L121.647192,112.32989 C119.919634,114.331727 120.951373,117.719007 123.586301,119.992372 L124.014225,120.361639 C126.649022,122.634892 130.151344,123.158974 131.876016,121.160469 L136.973259,115.295652 C139.256695,112.648729 138.901585,108.593966 136.209432,106.271228 L135.781432,105.901895 C133.089153,103.579048 129.025427,103.821742 126.744912,106.465292 Z M134.213635,107.719039 L134.641558,108.088306 C136.341301,109.554811 136.563856,112.096028 135.158912,113.724625 L130.061807,119.589282 C129.390265,120.367437 127.339149,120.060511 125.582099,118.544561 L125.154175,118.175294 C123.396934,116.659181 122.792816,114.675814 123.461349,113.901136 L128.559208,108.036377 C129.966911,106.404596 132.51384,106.252488 134.213635,107.719039 Z" />
          <path fill="#FFF"
            d="M124.796867,106.411467 L124.368867,106.0428 C122.172867,104.147467 121.354867,101.4628 122.551533,100.075467 L127.6522,94.2081333 C129.495533,92.0721333 132.800867,91.8748 134.996867,93.7694667 L135.424867,94.1388 C137.620867,96.0334667 137.909533,99.3314667 136.0662,101.467467 L130.9662,107.3348 C129.768867,108.722133 126.992867,108.3068 124.796867,106.411467" />
          <path fill="#17479E" fill-rule="nonzero"
            d="M126.743719,93.4241291 L121.645903,99.288172 C119.918487,101.290805 120.949931,104.677112 123.58481,106.951236 L124.013703,107.320673 C126.647567,109.593919 130.14932,110.117956 131.874653,108.118837 L136.971882,102.254703 C139.25595,99.6080038 138.901083,95.5531082 136.208765,93.230228 L135.780765,92.8608946 C133.088523,90.5380794 129.024911,90.7807514 126.743719,93.4241291 Z M134.212968,94.6780387 L134.640891,95.0473057 C136.340693,96.5138624 136.56308,99.0549716 135.157719,100.683462 L130.060518,106.547564 C129.388342,107.326394 127.338035,107.019566 125.580923,105.503031 L125.15203,105.133594 C123.395435,103.617504 122.791446,101.634563 123.460202,100.859253 L128.557831,94.995428 C129.966105,93.3635739 132.51315,93.2114686 134.212968,94.6780387 Z" />
          <path fill="#FFF"
            d="M119.468733,94.2956 L119.0494,93.8542667 C116.898067,91.5876 116.6654,88.2829333 118.532733,86.5102667 L126.478733,79.0096 C129.354733,76.2796 133.468067,75.8996 135.6194,78.1656 L136.038733,78.6076 C138.190733,80.8729333 137.5974,84.9616 134.7214,87.6922667 L126.776067,95.1929333 C124.908733,96.9656 121.620733,96.5616 119.468733,94.2956" />
          <path fill="#17479E" fill-rule="nonzero"
            d="M125.652584,78.1392683 L117.709011,85.6376377 C115.317365,87.9080298 115.602931,91.9661718 118.179017,94.6803623 L118.5988,95.1221684 C121.175475,97.835341 125.213113,98.3312492 127.602247,96.0632351 L135.545159,88.5648611 C138.865102,85.4126921 139.566246,80.5785693 136.908745,77.7811141 L136.489661,77.3393766 C133.833108,74.5412285 128.969915,74.9903419 125.652584,78.1392683 Z M134.749139,78.9918234 L135.168177,79.4335125 C136.814951,81.1670132 136.330059,84.5101653 133.895145,86.8220357 L125.952308,94.3203389 C124.604506,95.5998061 122.066167,95.2880439 120.338867,93.4692419 L119.919334,93.0276982 C118.193071,91.2088901 118.013549,88.6577288 119.358914,87.3805685 L127.302456,79.8822289 C129.739711,77.5687077 133.103144,77.2580964 134.749139,78.9918234 Z" />
          <mask id="notifs-b" fill="#fff">
            <use xlink:href="#notifs-a" />
          </mask>
          <rect width="100" height="100" mask="url(#notifs-b)" />
        </g>
        <animation xlink:href="#cloche_path" attributeType="CSS" attributeName="opacity" from="1" to="0" dur="5s"
          repeatCount="indefinite" />

      </svg>
    </div>
  </div>
  <div class="Message-body">
    <div *ngIf="title" [class]="options.titleClass" [attr.aria-label]="title" class="text-center">
      <p>{{ message }}</p>
    </div>
    <p class="text-center">{{ title }}</p>
  </div>

</div>
