$c-black: #111;
$c-white: #fff;
$c-blues: #2980b9, #0074d9, #009fe3;
$c-greys: #343c3f, #a2acb0, #d9e1e4;
$c-greens: #27ae60, #2ecc40, #01ff70;
$c-reds: #c0392b, #ff4136, #e74c3c;
$c-yellows: #f39c12, #fca624, #f1c40f;
$c-purples: #532e62, #8e44ad, #9b59b6;

:host {
  background-color: #0074d9;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 0% !important;
  max-width: 80%;
  border-radius: 3px 3px 3px 3px;
  color: #ffffff;
  pointer-events: all;
  cursor: pointer;
}

body {
  background-color: #ddd;
  font-family: "Source Sans Pro";
  font-weight: 300;
}
.icon-Spinner{
  width: 30px;
}
:host .toast-container {
  display: table;
  position: relative;
  margin: 40px -11px !important;
  width: 350px !important;
  background-color: nth($c-blues, 2);
  color: #fff;
  transition: all 0.2s ease;

  &.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}


.Message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 40px;
  padding: 20px;
  text-align: center;
  background-color: rgba(black, 0.25);


}

.Message-body {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 10px 20px 5px;

  > p {
    line-height: 1.2;
    margin-top: 6px;
  }
}



.u-italic {
  font-style: italic;
}


#cloche {
	  transform-origin: center;
}

.dring svg {
  -webkit-animation-name: dring-smartphone; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite;
  animation-name: dring-smartphone;
  animation-duration: .8s;
	animation-iteration-count: infinite;
}

.dring #cloche {
	-webkit-animation-name: dring-bell; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite;
  animation-name: dring-bell;
  animation-duration: .8s;
	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@keyframes xx-dring-smartphone {
  0% {margin-left: 1px;}
  5% {margin-left: -1px;}
  10% {margin-left: 1px;}
  15% {margin-left: -1px;}
  20% {margin-left: 1px;}
  25% {margin-left: -1px;}
  30% {margin-left: 1px;}
  35% {margin-left: -1px;}
  40% {margin-left: 1px;}
  45% {margin-left: -1px;}
  50% {margin-left: 0px;}
  100% {margin-left: 0px;}
}

/* Standard syntax *
@keyframes dring-smartphone {
  0% {margin-left: 1px;}
  100% {margin-left: -1px;}
}
*/

/* Safari 4.0 - 8.0 *
@-webkit-keyframes dring-bell {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-30deg);}
  100% {transform: rotate(30deg);}
}
*/
/* Standard syntax */
@keyframes xxx-dring-bell {
  0% {transform: rotate(0deg);}
  5% {transform: rotate(-30deg);}
  10% {transform: rotate(0deg);}
  15% {transform: rotate(30deg);}
  20% {transform: rotate(0deg);}
  25% {transform: rotate(-30deg);}
  30% {transform: rotate(0deg);}
  35% {transform: rotate(30deg);}
  40% {transform: rotate(0deg);}
  45% {transform: rotate(-30deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}


@media all and (max-width: 500px) {
  :host .toast-container{
    width: 300px !important;
  }
}
