.pageMosaic{
  height: 100% !important;
}

.myGridList {
  height: 100%;
}
::ng-deep .card  {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
.textGrid{
  background-color: #52658f;
  color: whitesmoke;
  padding: 5px !important;
  border-radius: 2%;

}
.myGridList {
  height: 85%;
}
.titleMosaic{
  color: #52658f;
  font-size: 1em;
  font-weight: bold;
}

.mat-toolbar{
  height: 8vh !important;
}

.card:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52658f;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.3);
  opacity: 0;
  transition: transform .4s ease 0s;
}

.overlay span {
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  font-family: Sans-serif;
}

.card img {
  transition: transform .8s ease;
}

.card:hover img {
  transform: scale(1.1);
}

@media all and (max-width: 600px) {
  .myGridList {
    height: 100%;
    margin: 1%;
  }

  .titleMosaic {
    font-size: 4vw;
  }
  
}

.eliminarButton{
  justify-content: center;
  align-items: center;
  display: flex;
}

.eliminarButton .mat-mini-fab{
    width: 28px !important;
    height: 28px !important;
    .mat-icon{
      font-size: 18px !important;
      margin-top: -6px !important;
    }
}

.configImage{
  background-size: cover !important;
  background-position: center !important;
  width: 200px;
  height: 100px;
}