<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modulos</li>

    </ol>

</nav>

<div *ngIf="(modulosFacade.responseCargando$ | async)">
    <app-loading [data]="4"></app-loading>
</div>

<div class="row" *ngIf="!(modulosFacade.responseCargando$ | async)">
    <div class="col-md-12">
        <mat-card class="matCardPersonalizada">

            <mat-card-content>

                <section>
                    <mat-card-content>
                        <form [formGroup]="filtro">
                            <div class="row">

                                <div class="col-md-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Búsqueda</mat-label>
                                        <input matInput placeholder="Buscar " formControlName="filter">
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <div class="text-right">
                                        <button mat-raised-button class="buttonPrincipal"
                                            (click)="openModalPuntoVenta(modalModule)">
                                            Nuevo Modulo
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </form>
                        <div *ngIf="!(modulosFacade.responseCargando$ | async) && (modulosFacade.responseModules$| async ).length == 0"
                            class="mt-2">
                            <div class="alert alert-warning text-center" role="alert">
                                No hay modulos para listar.
                            </div>
                        </div>
                        <div class="table-responsive mt-2" *ngIf="(modulosFacade.responseModules$| async ).length !=0 ">

                            <table class="table  bordeTabla tablep" role="table ">
                                <thead class="theadp">

                                    <tr class="trp bg-success text-center ">

                                        <th class="thp " scope="col " role="columnheader ">Modulo</th>
                                        <th class="thp " scope="col " role="columnheader ">Titulo</th>
                                        <th class="thp " scope="col " role="columnheader ">Css</th>
                                        <th class="thp " scope="col " role="columnheader ">Descripción</th>
                                        <th class="thp " scope="col " role="columnheader ">Estado</th>
                                        <th class="thp " scope="col " role="columnheader "></th>

                                    </tr>
                                </thead>

                                <tbody role="rowgroup " class="tbodyp">

                                    <tr class="text-center trp " role="row " *ngFor="let item of (modulosFacade.responseModules$ | async) | search: this.filtro?.value.filter: parametrosBusqueda | 
                                                    slice: paginatorService.desde :paginatorService.hasta">
                                       

                                        <td role="cell " data-title="Modulo" class="tdp"> {{item.Module}}
                                        </td>
                                        <td role="cell " data-title="Titulo" class="tdp "> {{item.title}}
                                        </td>
                                        <td role="cell " data-title="Css" class="tdp">{{item.css}}</td>
                                        <td role="cell " data-title="Descripción" class="tdp ">
                                            {{item.description}} </td>
                                        <td role="cell " data-title="Estado" class="tdp">
                                            <div class="profile-description" class="column3">
                                                <div style="vertical-align: inherit; ">
                                                    <span class="badge badge-pill badge-success"
                                                        *ngIf="item.idStatus === true">Activo</span>
                                                    <span class="badge badge-pill badge-warning"
                                                        *ngIf="item.idStatus === false">Desactivado</span>

                                                </div>
                                            </div>
                                        </td>
                                        <td role="cell " data-title="Opciones" class="tdp">
                                            <div class="text-center">

                                                <button class="buttonPrincipal" mat-mini-fab #tooltip="matTooltip"
                                                    matTooltip="Ver información" matTooltipPosition="right" (click)="openModalPuntoVenta(modalModule,item)">
                                                    <mat-icon>
                                                        create
                                                    </mat-icon>
                                                </button>
                                                <button class="btnDelete" mat-mini-fab #tooltip="matTooltip" matTooltip="Ver información" matTooltipPosition="right"
                                                    (click)="eliminarModulo(item)">
                                                    <mat-icon>
                                                        delete
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator tourAnchor=" pagination "
                                [length]="(modulosFacade.responseModules$ | async).length "
                                [pageSize]="paginatorService.pageSize " (page)="paginatorService.next($event) ">
                            </mat-paginator>
                        </div>
                    </mat-card-content>
                </section>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #modalModule>
    <div class="matCardHeader">
        Nuevo Modulo
    </div>
    <mat-dialog-content class="mat-typography" style="padding: 5px;">
        <form [formGroup]="moduloForm">
            
            <div class="row">
                <mat-form-field appearance="legacy" class="col-md-6">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre Modulo" formControlName="modulo">
                </mat-form-field>
                <mat-form-field appearance="legacy" class="col-md-6">
                    <mat-label>Titulo</mat-label>
                    <input matInput placeholder="Titulo" formControlName="titulo">
                </mat-form-field>
                <mat-form-field appearance="legacy" class="col-md-12">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="descripcion"></textarea>
                </mat-form-field>
                <mat-form-field appearance="legacy" class="col-md-12">
                    <mat-label>Imagen</mat-label>
                    <input matInput placeholder="Imagen" formControlName="imagen">
                </mat-form-field>

            </div>
            <div class="title">
                Estilos Css
            </div>
            <div *ngFor="let item of codigoCss.controls; let i = index;">
                <ng-container [formGroup]="item">
                    <div class="row">
                        <div class="eliminarButton col-md-1">
                            <button mat-mini-fab (click)="eliminarObjeto(i)">
                                <mat-icon>
                                    remove_circle
                                </mat-icon>
                            </button>
                        </div>
                        
                        <mat-form-field appearance="legacy" class="col-md-6">
                            <mat-label>Clase</mat-label>
                            <input matInput placeholder="Clase" formControlName="clase">
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="col-md-5">
                            <mat-label>Valor</mat-label>
                            <input matInput placeholder="Valor" formControlName="value">
                        </mat-form-field>
                    </div>

                </ng-container>
            </div>


            <div class="text-right">
                <b>Agregar Estilo</b>
                <button mat-mini-fab (click)="agregarValoresCss()">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            

        </form>
        <div class="text-right mt-4">
            
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Salir</button>
        <button class="buttonPrincipal" mat-raised-button (click)="guardarModulo()">
            Guardar
        </button>
    </mat-dialog-actions>

</ng-template>