$c-black: #111;
$c-white: #fff;
$c-blues: #2980b9,
#0074d9,
#009fe3;
$c-greys: #343c3f,
#a2acb0,
#d9e1e4;
$c-greens: #27ae60,
#2ecc40,
#01ff70;
$c-reds: #c0392b,
#ff4136,
#e74c3c;
$c-yellows: #f39c12,
#fca624,
#f1c40f;
$c-purples: #532e62,
#8e44ad,
#9b59b6;

:host {
  background-color: #0074d9;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 0% !important;
  max-width: 80%;
  border-radius: 3px 3px 3px 3px;
  color: #ffffff;
  pointer-events: all;
  cursor: pointer;
}

body {
  background-color: #ddd;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

.icon-Spinner {
  width: 30px;
}

.toast-container {
  display: table;
  position: relative;
  margin: 40px auto 0;
  width: 300px;
  background-color: nth($c-blues, 2);
  color: #fff;
  transition: all 0.2s ease;

  &.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}


.Message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 30px;
  text-align: center;
  background-color: rgba(black, 0.25);


}

.Message-body {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 20px 30px 10px;

  >p {
    line-height: 1.2;
    margin-top: 6px;
  }
}



.u-italic {
  font-style: italic;
}
