<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Personalización</li>
  </ol>
</nav>

<mat-card>
  <mat-card-content>
    <div *ngIf="(menusFacade.responseCargando$ | async)">
      <app-loading [data]="4"></app-loading>
    </div>

    <div *ngIf="!(menusFacade.responseCargando$ | async)">
      <div>
        <p>Seleccione los menus que desea ver en la pagina principal del sistema</p>
      </div>
      <div class="row">
        <div class="col-md-12" *ngFor="let item of (menusFacade.responseMenus$ | async)">
          <form [formGroup]="formCheckedMenus">
            <mat-list role="list">
              <div mat-subheader class="contentP">
                <div class="negrita">{{item.texto}}</div>
                <div class="posicionFinal">
                  <mat-slide-toggle formControlName="{{item.idMenu}}"></mat-slide-toggle>
                </div>
              </div>
              <mat-list-item *ngFor="let children of item.hijos" class="contenido">
                <i [class]="children.icono"></i>
                <div>{{children.texto}}</div>
                <!-- <mat-action-list> -->
                  <mat-slide-toggle formControlName="{{children.idMenu}}"></mat-slide-toggle>
                <!-- </mat-action-list> -->
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>

          </form>
        </div>
      </div>

      <div class="text-right mt-2">
        <button mat-raised-button class="button-principal" (click)="guardarMenuPreferencia()">Guardar</button>
      </div>

    </div>

  </mat-card-content>

</mat-card>
