::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  box-sizing: border-box !important;
  justify-content: space-between !important;
  position: relative !important;
  height: inherit !important;

}

// .posicionFinal {
//     justify-content: flex-end !important;
//   }
::ng-deep .contenido {
  padding: 0 24px;
}

.negrita {
  font-weight: bold;
  color: black;
}

::ng-deep .contentP {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
  height: inherit;
}
