
<div *ngIf="srvPaciente.loadingUno" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!srvPaciente.loadingUno" class="row">
    <div class="col-lg-12">
        <mat-card-header style="background-color: #333a56; border-radius: 10px; color: white;">
            <div class="mat-dialog-title;" style="padding-left: 40%; padding-right: 35%; padding-top: 1%;padding-bottom: 1%; font-size: medium;">Perfil</div>
        </mat-card-header>

        <br>

        <form [formGroup]="datosPersonalesForm" (ngSubmit)="updatePerfil()" >
            
            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field appearance="legacy">
                        <mat-label>Identidad</mat-label>
                        <input mask="0000-0000-00000" (keydown)="validarNumeros($event)" matInput type="text" placeholder="Identidad"
                        formControlName="identidad">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="legacy">
                        <mat-label>Nombres</mat-label>
                        <input matInput type="text" placeholder="Nombres"
                        formControlName="nombres">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="legacy">
                        <mat-label>Apellidos</mat-label>
                        <input matInput type="text" placeholder="Apellidos"
                        formControlName="apellidos">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Fecha nacimiento</mat-label>
                        <input (keydown)="validarNumeros($event)" (keydown)="validarLetras($event)"  formControlName="fechaNacimiento" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Genero</mat-label>
                        <mat-select  formControlName="idSexo">
                          <mat-option *ngFor="let se of sexo" [value]="se.id">
                            {{se.nombreSexo}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Etnia</mat-label>
                        <mat-select  formControlName="idGrupoEtnico">
                          <mat-option *ngFor="let et of etnias" [value]="et.idGrupoEtnico">
                            {{et.grupoEtnico}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
              </div>
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Preferencia sexual</mat-label>
                        <mat-select  formControlName="idGenero">
                          <mat-option *ngFor="let et of generos" [value]="et.idGenero">
                            {{et.nombreGenero}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Trabajador del sexo</mat-label>
                        <mat-select >
                          <mat-option *ngFor="let et of trabajo" [value]="et.id">
                            {{et.nombreTrabajo}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
              </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field appearance="standard" >
                      <mat-label>Dirección</mat-label>
                      <textarea matInput formControlName="direccion"></textarea>
                  </mat-form-field>

                  </div>
                </div>
                <div class="text-right">
                  <button type="button" class="btn btn-secondary" mat-dialog-close >Cerrar</button>
                  <button type="submit" class="btn" style="background-color:#333a56;color: white;"  > Actualizar</button>

              </div>
        </form>
    </div>
</div>