
::ng-deep.mat-expansion-panel-body {
    padding: 0px !important;
}
.mat-list-item .mat-list-item-content{
    background-color: #fff !important;
}
  
a {
    padding: 0px 0px !important;
}
.textSideHeader{
    width: 100% !important;
    height: 100% !important;
    font-size: 13px !important;
    color: white !important;
}
.textSide {
    width: 100% !important;
    height: 100% !important;
    font-size: 13px !important;
    color: #333a56 !important;
}

.icon {
    color: #333a56 !important;
    font-size: 19px !important;
    height: 100%;
}

.logoSideBar {
    max-width: 190px;
    max-height: 120px;

}

 .fs :hover {
    border-radius: 5px;
    background: rgba(216, 216, 216, 0.8) !important;
}

.is-active {
    border-radius: 5px;
    border-left-color: #52658f;
    border-left-style: solid !important;
    border-left-width: 5px !important;
    background: rgba(216, 216, 216, 0.8) !important;

    
}



// ::ng-deep .mat-expansion-panel{
//     box-shadow: none !important;
//     background-color: rgba(#52658f, 0.95) !important;

// }
// .mat-list-item{
//  border-bottom-color: #52658f;
//  border-bottom-style: solid !important;
//  border-bottom-width: 1px !important;
// }

.mat-list-item a {
    height: 45px;
    margin-top: 5px !important;
    // padding: 5px 10px !important;
    margin-bottom: 10px !important;
    align-items: center;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
}

.mat-list-item span {
    color: #333a56;
}

// ::ng-deep .mat-list-item.selected>.mat-list-item-content>a {
//     .mat-list-item {
//         border-radius: 5px;
//         background: #ebb730 !important;
//         .icon {
//             color: #003399 !important;
//         }
//     }
// }

.mat-expansion-panelP {
    background-color: rgba(#52658f, 0.95) !important;
    color: white !important;
    margin-bottom: 5px !important;
}

::ng-deep .mat-drawer-inner-container {
    background-color: white !important;
    background-image: url('../../../assets/images/BackGround/Lovepik_com-400381580-blue-technology-line-shading.png') !important;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
}

::ng-deep .mat-expansion-indicator::after {
    color: white !important;
}



.mat-list-base{
padding-top: 0px !important;
}