<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
        </ol>
    </nav>
    <mat-card>
        <mat-card-content>

            <div *ngIf="(usuariosFacade.responseCargando$ | async)">
                <app-loading [data]="4"></app-loading>
            </div>

            <section *ngIf="!(usuariosFacade.responseCargando$ | async)">
                

                <div *ngIf="(usuariosFacade.responseUsuarios$| async ).length == 0 && !(usuariosFacade.responseCargando$ | async)"
                    class="mt-4">
                    <div class="alert alert-warning text-center" role="alert">
                        No existen usuarios para mostrar
                    </div>
                </div>
                <div *ngIf="!(usuariosFacade.responseCargando$ | async) && (usuariosFacade.responseUsuarios$| async ).length != 0"
                    class="mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <form [formGroup]="filtro">
                                <mat-form-field appearance="fill">
                                    <mat-label>Busqueda</mat-label>
                                    <input matInput placeholder="Buscar" [formControl]="filtro">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>

                    <div class="table-responsive" *ngIf="(usuariosFacade.responseUsuarios$| async ).length != 0">

                        <table class="table  bordeTabla tablep" role="table">
                            <thead class="theadp">

                                <tr class="trp bg-success text-center">

                                    <th class="thp" scope="col" role="columnheader">Nombre</th>
                                    <th class="thp" scope="col" role="columnheader">Usuario</th>
                                    <th class="thp" scope="col" role="columnheader">Observaciónes</th>
                                    <th class="thp" scope="col" role="columnheader">Activo</th>
                                    <th class="thp" scope="col" role="columnheader">Opciones</th>
                                </tr>
                            </thead>


                            <tbody role="rowgroup" class="tbodyp">

                                <tr class="text-center trp" role="row"
                                    *ngFor="let item of (usuariosFacade.responseUsuarios$ | async) | search: this.filtro.value: parametrosBusqueda | slice: desde :hasta">
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.Nombre}}</td>
                                    <td role="cell" data-title="Usuario" class="tdp"> {{item.Usuario}}</td>
                                    <td role="cell" data-title="Observaciónes" class="tdp">{{item.Observaciones}}</td>
                                    <td role="cell" data-title="Activo" class="tdp">
                                        <span *ngIf="item.Activo === true">
                                            <mat-icon class="success">check_box</mat-icon>
                                        </span>
                                        <span *ngIf="item.Activo === false">
                                            <mat-icon class="error">indeterminate_check_box</mat-icon>
                                        </span>
                                    </td>

                                    <td role="cell" data-title="Opciones" class="tdp">
                                        <div class="text-center">

                                            <button mat-mini-fab class="buttonSecundary" #tooltip="matTooltip"
                                                matTooltip="Seleccionar Usuario" matTooltipPosition="left" (click)="seleccionarUsuario(item)">
                                                <mat-icon>check_circle_outline</mat-icon>
                                            </button>
                                            
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                        <mat-paginator [length]="(usuariosFacade.responseUsuarios$ | async).length "
                            [pageSize]="pageSize " (page)="next($event) ">
                        </mat-paginator>
                    </div>
                </div>
            </section>
        </mat-card-content>
    </mat-card>
</div>
