.mat-tab-group {
    margin-bottom: 48px;

    
  }



  /* .mat {
    width: 100% ; 
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
     } */

     md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
      color: red !important;
      background-color:red !important;
  }

