
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de personas</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-12">
        <mat-card class="matCardPersonalizada mt-2">
            <div style="text-align: center;" >
                <label class="display-4">Personas</label>
            </div>
        <mat-tab-group (selectedTabChange)="resetFiltro()" mat-stretch-tabs mat-align-tabs="center" animationDuration="1200ms">
          <mat-tab >  
            <ng-template mat-tab-label>
                <mat-icon style="color: green;" class="example-tab-icon">verified_user</mat-icon>
                Registrados
              </ng-template>
            <mat-tab-group (selectedTabChange)="resetFiltro()" mat-stretch-tabs mat-align-tabs="center" animationDuration="1200ms">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon style="color: blue;" class="example-tab-icon">male</mat-icon>
                        Hombres
                      </ng-template>
                    <mat-tab-group (selectedTabChange)="resetFiltro()" mat-stretch-tabs  mat-align-tabs="center" animationDuration="1200ms">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon style="color: red;" class="example-tab-icon">local_hospital</mat-icon>
                                Emergencia
                              </ng-template>
                              <div *ngIf="srvPaciente.loading" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
                                <mat-spinner></mat-spinner>
                            </div>                         
                            <div *ngIf="!srvPaciente.loading" class="table-responsive">

                                <table class="table  bordeTabla tablep table-bordered" role="table">
                                    <thead class="theadp">
        
                                        <tr class="trp bg-success text-center">
        
                                            <th class="thp" scope="col" role="columnheader">Identidad</th>
                                            <th class="thp" scope="col" role="columnheader">Nombres</th>
                                            <th class="thp" scope="col" role="columnheader">Apellidos</th>
                                            <th class="thp" scope="col" role="columnheader">Dirección</th>
                                            <th class="thp" scope="col" role="columnheader">Correo</th>
                                            <th class="thp" scope="col" role="columnheader">Edad</th>
                                            <th class="thp" scope="col" role="columnheader">Celular</th>
                                            <th class="thp" scope="col" role="columnheader">Telefono</th>
                                            <th class="thp" scope="col" role="columnheader">Opciones</th>
                                        </tr>
                                    </thead>
        
        
                                    <tbody role="rowgroup" class="tbodyp">
                                        <tr >
                                            <td> <input style="text-align: center;"
                                                type="text"
                                                class="form-control"
                                                placeholder="Buscar" title="Buscar por Identidad" 
                                                [(ngModel)]="identidad"
                                                name="identidad"
                                              /> </td>
                                              <td> <input style="text-align: center;"
                                                type="text"
                                                class="form-control"
                                                placeholder="Buscar" title="Buscar por Nombre" 
                                                [(ngModel)]="nombres"
                                                name="nombres"
                                              /> </td>
                                              <td> <input style="text-align: center;"
                                                type="text"
                                                class="form-control"
                                                placeholder="Buscar" title="Buscar por Apellidos" 
                                                [(ngModel)]="apellidos"
                                                name="apellidos"
                                              /> </td>
                                              <td> <input style="text-align: center;"
                                                type="text"
                                                class="form-control"
                                                placeholder="Buscar" title="Buscar por direccion" 
                                                [(ngModel)]="direccion"
                                                name="direccion"
                                              /> </td>
                                              <td> <input style="text-align: center;"
                                                type="text"
                                                class="form-control"
                                                placeholder="Buscar" title="Buscar por correoElectronico" 
                                                [(ngModel)]="correoElectronico"
                                                name="correoElectronico"
                                              /> </td>
                                              <td> <input style="text-align: center;"
                                                type="text"
                                                class="form-control"
                                                placeholder="Buscar" title="Buscar por edad" 
                                                [(ngModel)]="edad"
                                                name="edad"
                                              /> </td>
                                              
                                              <td>
                                                   <!-- <input style="text-align: center;"
                                                type="text"
                                                class="form-control"
                                                placeholder="Buscar por telefono Celular" title="Buscar por telefono Celular" 
                                                [(ngModel)]="telefonoMovil"
                                                name="telefonoMovil"
                                              /> -->
                                             </td>
                                              <td>
                                                   <!-- <input style="text-align: center;"
                                                type="text"
                                                class="form-control"
                                                placeholder="Buscar por telefono Fijo" title="Buscar por telefono Fijo" 
                                                [(ngModel)]="telefonoFijo"
                                                name="telefonoFijo" 
                                              /> -->
                                            </td>
                                              <td>
                                              </td>

                                        </tr>
                                        <tr class="text-center trp" role="row"
                                            *ngFor="let item of pacientesRegistradosMenMayor | identidad: identidad |nombres:nombres|apellidos:apellidos |
                                            direccion:direccion | correoElectronico:correoElectronico| edad:edad | paginate:{id: 'uno',  itemsPerPage:10,currentPage:pageActual0 }">
                                            <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                                            <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                                            <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                                            <td role="cell" data-title="Observaciónes" class="tdp">{{item.direccion}}</td>
                                            <td role="cell" data-title="Observaciónes" class="tdp">{{item.correoElectronico}}</td>
                                            <td role="cell" data-title="Observaciónes" class="tdp">{{item.edad}}</td>
                                            <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoMovil}}</td>
                                            <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoFijo}}</td>
        
                                            <td role="cell" data-title="Opciones" class="tdp">
                                                <div style="text-align: center;">

                                                  <div class=" btn-group ">
                                                    <!-- <button type="button " (click)="citaNow(item)" title="Atender ahora" class="btn btn-danger btn-xs ">
                                                      <i  class="fas fa-exclamation-triangle"></i>
                                                    </button> -->
                                                    <button type="button " (click)="getPaciente(item,modalPaciente)" title="Ver perfil" class="btn btn-primary btn-xs ">
                                                      <i  class="fa fa-address-card"></i>
                                                    </button>
                                                    <button type="button "  (click)="getEncuesta(item,modalEncuesta)" title="Ver encuestas" class="btn btn-success btn-xs ">
                                                      <!-- <i class="fa fa-microscope"></i> -->
                                                      <i class="fa fa-eye "></i>
                                                    </button>
                                                    <button type="button "  (click)="agendarCita(item)" title="Agendar cita" class="btn btn-danger btn-xs ">
                                                      <i class="fa fa-calendar"></i>
                                                      <!-- <i class="fa fa-user-plus"></i> -->
                                                    </button>
                                                  </div>
                                                </div>
                                                    
                                            </td>
        
                                        </tr>
        
                                    </tbody>
                                </table>
                                <pagination-controls id ="uno" style="text-align: right;" (pageChange)="pageActual0 = $event" previousLabel ="Atras"
                                nextLabel ="Siguiente" responsive =" true "></pagination-controls>
                            </div>
                           
                        </mat-tab>
                        <mat-tab>
                            <ng-template (click)="resetFiltro()"  mat-tab-label>
                                <mat-icon  style="color:yellowgreen;" class="example-tab-icon">child_care</mat-icon>
                                Menor de edad
                              </ng-template>
                              <div *ngIf="srvPaciente.loading" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
                                <mat-spinner></mat-spinner>
                            </div>
                            <div *ngIf="!srvPaciente.loading" class="table-responsive">

                              <table class="table  bordeTabla tablep table-bordered" role="table">
                                  <thead class="theadp">
      
                                      <tr class="trp bg-success text-center">
      
                                          <th class="thp" scope="col" role="columnheader">Identidad</th>
                                          <th class="thp" scope="col" role="columnheader">Nombres</th>
                                          <th class="thp" scope="col" role="columnheader">Apellidos</th>
                                          <th class="thp" scope="col" role="columnheader">Dirección</th>
                                          <th class="thp" scope="col" role="columnheader">Correo</th>
                                          <th class="thp" scope="col" role="columnheader">Edad</th>
                                          <th class="thp" scope="col" role="columnheader">Celular</th>
                                          <th class="thp" scope="col" role="columnheader">Telefono</th>
                                          <th class="thp" scope="col" role="columnheader">Opciones</th>
                                      </tr>
                                  </thead>
      
      
                                  <tbody role="rowgroup" class="tbodyp">
                                      <tr >
                                          <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Identidad" 
                                              [(ngModel)]="identidad"
                                              name="identidad"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Nombre" 
                                              [(ngModel)]="nombres"
                                              name="nombres"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Apellidos" 
                                              [(ngModel)]="apellidos"
                                              name="apellidos"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por direccion" 
                                              [(ngModel)]="direccion"
                                              name="direccion"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por correoElectronico" 
                                              [(ngModel)]="correoElectronico"
                                              name="correoElectronico"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por edad" 
                                              [(ngModel)]="edad"
                                              name="edad"
                                            /> </td>
                                            
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Celular" title="Buscar por telefono Celular" 
                                              [(ngModel)]="telefonoMovil"
                                              name="telefonoMovil"
                                            /> -->
                                           </td>
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Fijo" title="Buscar por telefono Fijo" 
                                              [(ngModel)]="telefonoFijo"
                                              name="telefonoFijo" 
                                            /> -->
                                          </td>
                                            <td>
                                            </td>

                                      </tr>
                                      <tr class="text-center trp" role="row"
                                          *ngFor="let item of pacientesRegistradosMenMenor | identidad: identidad |nombres:nombres|apellidos:apellidos |
                                          direccion:direccion | correoElectronico:correoElectronico| edad:edad | paginate:{ id: 'dos',itemsPerPage:10,currentPage:pageActual1 }">
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                                          <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.direccion}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.correoElectronico}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.edad}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoMovil}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoFijo}}</td>
      
                                          <td role="cell" data-title="Opciones" class="tdp">
                                              <div style="text-align: center;">

                                                <div class=" btn-group ">
                                                  <button type="button " (click)="getPaciente(item,modalPaciente)" title="Ver perfil" class="btn btn-primary btn-xs ">
                                                    <i  class="fa fa-address-card"></i>
                                                  </button>
                                                  <button type="button "  (click)="getEncuesta(item,modalEncuesta)" title="Ver encuestas" class="btn btn-success btn-xs ">
                                                    <!-- <i class="fa fa-microscope"></i> -->
                                                    <i class="fa fa-eye "></i>
                                                  </button>
                                                  <button type="button "  (click)="agendarCita(item)" title="Agendar cita" class="btn btn-danger btn-xs ">
                                                    <i class="fa fa-calendar"></i>
                                                  </button>
                                                </div>
                                              </div>
                                                  
                                          </td>
      
                                      </tr>
      
                                  </tbody>
                              </table>
                              <pagination-controls id="dos"  style="text-align: right;" (pageChange)="pageActual1 = $event" previousLabel ="Atras"
                                nextLabel ="Siguiente"></pagination-controls>
                                
                          </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">emoji_people</mat-icon>
                                Otros next 3
                              </ng-template>  

                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon style="color: blue;" class="example-tab-icon">female</mat-icon>
                        Mujer
                      </ng-template>  
                    <mat-tab-group (selectedTabChange)="resetFiltro()" mat-stretch-tabs mat-align-tabs="center" animationDuration="1200ms">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon style="color: red;" class="example-tab-icon">local_hospital</mat-icon>
                                Emergencia
                              </ng-template>
                              <div *ngIf="srvPaciente.loading" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
                                <mat-spinner></mat-spinner>
                            </div>
                            <div *ngIf="!srvPaciente.loading" class="table-responsive">

                              <table class="table  bordeTabla tablep table-bordered" role="table">
                                  <thead class="theadp">
      
                                      <tr class="trp bg-success text-center">
      
                                          <th class="thp" scope="col" role="columnheader">Identidad</th>
                                          <th class="thp" scope="col" role="columnheader">Nombres</th>
                                          <th class="thp" scope="col" role="columnheader">Apellidos</th>
                                          <th class="thp" scope="col" role="columnheader">Dirección</th>
                                          <th class="thp" scope="col" role="columnheader">Correo</th>
                                          <th class="thp" scope="col" role="columnheader">Edad</th>
                                          <th class="thp" scope="col" role="columnheader">Celular</th>
                                          <th class="thp" scope="col" role="columnheader">Telefono</th>
                                          <th class="thp" scope="col" role="columnheader">Opciones</th>
                                      </tr>
                                  </thead>
      
      
                                  <tbody role="rowgroup" class="tbodyp">
                                      <tr >
                                          <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Identidad" 
                                              [(ngModel)]="identidad"
                                              name="identidad"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Nombre" 
                                              [(ngModel)]="nombres"
                                              name="nombres"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Apellidos" 
                                              [(ngModel)]="apellidos"
                                              name="apellidos"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por direccion" 
                                              [(ngModel)]="direccion"
                                              name="direccion"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por correoElectronico" 
                                              [(ngModel)]="correoElectronico"
                                              name="correoElectronico"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por edad" 
                                              [(ngModel)]="edad"
                                              name="edad"
                                            /> </td>
                                            
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Celular" title="Buscar por telefono Celular" 
                                              [(ngModel)]="telefonoMovil"
                                              name="telefonoMovil"
                                            /> -->
                                           </td>
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Fijo" title="Buscar por telefono Fijo" 
                                              [(ngModel)]="telefonoFijo"
                                              name="telefonoFijo" 
                                            /> -->
                                          </td>
                                            <td>
                                            </td>

                                      </tr>
                                      <tr class="text-center trp" role="row"
                                          *ngFor="let item of pacientesRegistradosWomenMayor | identidad: identidad |nombres:nombres|apellidos:apellidos |
                                          direccion:direccion | correoElectronico:correoElectronico| edad:edad  ">
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                                          <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.direccion}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.correoElectronico}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.edad}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoMovil}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoFijo}}</td>
      
                                          <td role="cell" data-title="Opciones" class="tdp">
                                              <div style="text-align: center;">

                                                <div class=" btn-group ">
                                                  <!-- <button type="button " (click)="citaNow(item)" title="Atender ahora" class="btn btn-warning btn-xs ">
                                                    <i  class="fa fa-warning"></i>
                                                  </button> -->
                                                  <button type="button " (click)="getPaciente(item,modalPaciente)" title="Ver perfil" class="btn btn-primary btn-xs ">
                                                    <i  class="fa fa-address-card"></i>
                                                  </button>
                                                  <button type="button "  (click)="getEncuesta(item,modalEncuesta)" title="Ver encuestas" class="btn btn-success btn-xs ">
                                                    <!-- <i class="fa fa-microscope"></i> -->
                                                    <i class="fa fa-eye "></i>
                                                  </button>
                                                  <button type="button "  (click)="agendarCita(item)" title="Agendar cita" class="btn btn-danger btn-xs ">
                                                    <i class="fa fa-calendar"></i>
                                                  </button>
                                                </div>
                                              </div>
                                                  
                                          </td>
      
                                      </tr>
      
                                  </tbody>
                              </table>
                                
                          </div>

                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon style="color:yellowgreen" class="example-tab-icon">child_care</mat-icon>
                                Menor de edad
                              </ng-template>
                              <div *ngIf="srvPaciente.loading" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
                                <mat-spinner></mat-spinner>
                            </div>
                            <div *ngIf="!srvPaciente.loading" class="table-responsive">

                              <table class="table  bordeTabla tablep table-bordered" role="table">
                                  <thead class="theadp">
      
                                      <tr class="trp bg-success text-center">
      
                                          <th class="thp" scope="col" role="columnheader">Identidad</th>
                                          <th class="thp" scope="col" role="columnheader">Nombres</th>
                                          <th class="thp" scope="col" role="columnheader">Apellidos</th>
                                          <th class="thp" scope="col" role="columnheader">Dirección</th>
                                          <th class="thp" scope="col" role="columnheader">Correo</th>
                                          <th class="thp" scope="col" role="columnheader">Edad</th>
                                          <th class="thp" scope="col" role="columnheader">Celular</th>
                                          <th class="thp" scope="col" role="columnheader">Telefono</th>
                                          <th class="thp" scope="col" role="columnheader">Opciones</th>
                                      </tr>
                                  </thead>
      
      
                                  <tbody role="rowgroup" class="tbodyp">
                                      <tr >
                                          <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Identidad" 
                                              [(ngModel)]="identidad"
                                              name="identidad"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Nombre" 
                                              [(ngModel)]="nombres"
                                              name="nombres"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Apellidos" 
                                              [(ngModel)]="apellidos"
                                              name="apellidos"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por direccion" 
                                              [(ngModel)]="direccion"
                                              name="direccion"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por correoElectronico" 
                                              [(ngModel)]="correoElectronico"
                                              name="correoElectronico"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por edad" 
                                              [(ngModel)]="edad"
                                              name="edad"
                                            /> </td>
                                            
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Celular" title="Buscar por telefono Celular" 
                                              [(ngModel)]="telefonoMovil"
                                              name="telefonoMovil"
                                            /> -->
                                           </td>
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Fijo" title="Buscar por telefono Fijo" 
                                              [(ngModel)]="telefonoFijo"
                                              name="telefonoFijo" 
                                            /> -->
                                          </td>
                                            <td>
                                            </td>

                                      </tr>
                                      <tr class="text-center trp" role="row"
                                          *ngFor="let item of pacientesRegistradosWomenMenor | identidad: identidad |nombres:nombres|apellidos:apellidos |
                                          direccion:direccion | correoElectronico:correoElectronico| edad:edad  ">
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                                          <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.direccion}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.correoElectronico}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.edad}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoMovil}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoFijo}}</td>
      
                                          <td role="cell" data-title="Opciones" class="tdp">
                                              <div style="text-align: center;">

                                                <div class=" btn-group ">
                                                  <button type="button " (click)="getPaciente(item,modalPaciente)" title="Ver perfil" class="btn btn-primary btn-xs ">
                                                    <i  class="fa fa-address-card"></i>
                                                  </button>
                                                  <button type="button "  (click)="getEncuesta(item,modalEncuesta)" title="Ver encuestas" class="btn btn-success btn-xs ">
                                                    <!-- <i class="fa fa-microscope"></i> -->
                                                    <i class="fa fa-eye "></i>
                                                  </button>
                                                  <button type="button "  (click)="agendarCita(item)" title="Agendar cita" class="btn btn-danger btn-xs ">
                                                    <i class="fa fa-calendar"></i>
                                                  </button>
                                                </div>
                                              </div>
                                                  
                                          </td>
      
                                      </tr>
      
                                  </tbody>
                              </table>
                                
                          </div>
                            
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">emoji_people</mat-icon>
                                Otros next 6
                              </ng-template> 

                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon style="color: red;" class="example-tab-icon">gpp_bad</mat-icon>
                Anonimos
              </ng-template>  
            <mat-tab-group (selectedTabChange)="resetFiltro()" mat-stretch-tabs mat-align-tabs="center" animationDuration="1200ms">
                <mat-tab>  
                    <ng-template mat-tab-label>
                        <mat-icon style="color: blue;" class="example-tab-icon">male</mat-icon>
                        Hombre
                      </ng-template> 
                    <mat-tab-group (selectedTabChange)="resetFiltro()"  mat-stretch-tabs mat-align-tabs="center" animationDuration="1200ms">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon style=" color:red" class="example-tab-icon">local_hospital</mat-icon>
                                Emergencia
                              </ng-template>
                              <div *ngIf="srvPaciente.loading" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
                                <mat-spinner></mat-spinner>
                            </div> 
                            <div *ngIf="!srvPaciente.loading" class="table-responsive">

                              <table class="table  bordeTabla tablep table-bordered" role="table">
                                  <thead class="theadp">
      
                                      <tr class="trp bg-success text-center">
      
                                          <th class="thp" scope="col" role="columnheader">Identidad</th>
                                          <th class="thp" scope="col" role="columnheader">Nombres</th>
                                          <th class="thp" scope="col" role="columnheader">Apellidos</th>
                                          <th class="thp" scope="col" role="columnheader">Dirección</th>
                                          <th class="thp" scope="col" role="columnheader">Correo</th>
                                          <th class="thp" scope="col" role="columnheader">Edad</th>
                                          <th class="thp" scope="col" role="columnheader">Celular</th>
                                          <th class="thp" scope="col" role="columnheader">Telefono</th>
                                          <th class="thp" scope="col" role="columnheader">Opciones</th>
                                      </tr>
                                  </thead>
      
      
                                  <tbody role="rowgroup" class="tbodyp">
                                      <tr >
                                          <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Identidad" 
                                              [(ngModel)]="identidad"
                                              name="identidad"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Nombre" 
                                              [(ngModel)]="nombres"
                                              name="nombres"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Apellidos" 
                                              [(ngModel)]="apellidos"
                                              name="apellidos"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por direccion" 
                                              [(ngModel)]="direccion"
                                              name="direccion"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por correoElectronico" 
                                              [(ngModel)]="correoElectronico"
                                              name="correoElectronico"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por edad" 
                                              [(ngModel)]="edad"
                                              name="edad"
                                            /> </td>
                                            
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Celular" title="Buscar por telefono Celular" 
                                              [(ngModel)]="telefonoMovil"
                                              name="telefonoMovil"
                                            /> -->
                                           </td>
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Fijo" title="Buscar por telefono Fijo" 
                                              [(ngModel)]="telefonoFijo"
                                              name="telefonoFijo" 
                                            /> -->
                                          </td>
                                            <td>
                                            </td>

                                      </tr>
                                      <tr class="text-center trp" role="row"
                                          *ngFor="let item of pacientesAnonimosMenMayor | identidad: identidad |nombres:nombres|apellidos:apellidos |
                                          direccion:direccion | correoElectronico:correoElectronico| edad:edad  ">
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                                          <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.direccion}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.correoElectronico}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.edad}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoMovil}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoFijo}}</td>
      
                                          <td role="cell" data-title="Opciones" class="tdp">
                                              <div style="text-align: center;">

                                                <div class=" btn-group ">
                                                  <button type="button " (click)="getPaciente(item,modalPaciente)" title="Ver perfil" class="btn btn-primary btn-xs ">
                                                    <i  class="fa fa-address-card"></i>
                                                  </button>
                                                  <button type="button "  (click)="getEncuesta(item,modalEncuesta)" title="Ver encuestas" class="btn btn-success btn-xs ">
                                                    <!-- <i class="fa fa-microscope"></i> -->
                                                    <i class="fa fa-eye "></i>
                                                  </button>
                                                  <button type="button "  (click)="agendarCita(item)" title="Agendar cita" class="btn btn-danger btn-xs ">
                                                    <i class="fa fa-calendar"></i>
                                                  </button>
                                                </div>
                                              </div>
                                                  
                                          </td>
      
                                      </tr>
      
                                  </tbody>
                              </table>
                                
                          </div>

                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon style="color: yellowgreen;" class="example-tab-icon">child_care</mat-icon>
                                Menor de edad
                              </ng-template>
                              <div *ngIf="srvPaciente.loading" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
                                <mat-spinner></mat-spinner>
                            </div>
                            <div *ngIf="!srvPaciente.loading" class="table-responsive">

                              <table class="table  bordeTabla tablep table-bordered" role="table">
                                  <thead class="theadp">
      
                                      <tr class="trp bg-success text-center">
      
                                          <th class="thp" scope="col" role="columnheader">Identidad</th>
                                          <th class="thp" scope="col" role="columnheader">Nombres</th>
                                          <th class="thp" scope="col" role="columnheader">Apellidos</th>
                                          <th class="thp" scope="col" role="columnheader">Dirección</th>
                                          <th class="thp" scope="col" role="columnheader">Correo</th>
                                          <th class="thp" scope="col" role="columnheader">Edad</th>
                                          <th class="thp" scope="col" role="columnheader">Celular</th>
                                          <th class="thp" scope="col" role="columnheader">Telefono</th>
                                          <th class="thp" scope="col" role="columnheader">Opciones</th>
                                      </tr>
                                  </thead>
      
      
                                  <tbody role="rowgroup" class="tbodyp">
                                      <tr >
                                          <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Identidad" 
                                              [(ngModel)]="identidad"
                                              name="identidad"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Nombre" 
                                              [(ngModel)]="nombres"
                                              name="nombres"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Apellidos" 
                                              [(ngModel)]="apellidos"
                                              name="apellidos"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por direccion" 
                                              [(ngModel)]="direccion"
                                              name="direccion"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por correoElectronico" 
                                              [(ngModel)]="correoElectronico"
                                              name="correoElectronico"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por edad" 
                                              [(ngModel)]="edad"
                                              name="edad"
                                            /> </td>
                                            
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Celular" title="Buscar por telefono Celular" 
                                              [(ngModel)]="telefonoMovil"
                                              name="telefonoMovil"
                                            /> -->
                                           </td>
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Fijo" title="Buscar por telefono Fijo" 
                                              [(ngModel)]="telefonoFijo"
                                              name="telefonoFijo" 
                                            /> -->
                                          </td>
                                            <td>
                                            </td>

                                      </tr>
                                      <tr class="text-center trp" role="row"
                                          *ngFor="let item of pacientesAnonimosMenMenor | identidad: identidad |nombres:nombres|apellidos:apellidos |
                                          direccion:direccion | correoElectronico:correoElectronico| edad:edad  ">
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                                          <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.direccion}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.correoElectronico}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.edad}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoMovil}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoFijo}}</td>
      
                                          <td role="cell" data-title="Opciones" class="tdp">
                                              <div style="text-align: center;">

                                                <div class=" btn-group ">
                                                  <button type="button " (click)="getPaciente(item,modalPaciente)" title="Ver perfil" class="btn btn-primary btn-xs ">
                                                    <i  class="fa fa-address-card"></i>
                                                  </button>
                                                  <button type="button "  (click)="getEncuesta(item,modalEncuesta)" title="Ver encuestas" class="btn btn-success btn-xs ">
                                                    <!-- <i class="fa fa-microscope"></i> -->
                                                    <i class="fa fa-eye "></i>
                                                  </button>
                                                  <button type="button "  (click)="agendarCita(item)" title="Agendar cita" class="btn btn-danger btn-xs ">
                                                    <i class="fa fa-calendar"></i>
                                                  </button>
                                                </div>
                                              </div>
                                                  
                                          </td>
      
                                      </tr>
      
                                  </tbody>
                              </table>
                                
                          </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">emoji_people</mat-icon>
                                Otros next 9
                              </ng-template> 

                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
                <mat-tab>  
                    <ng-template mat-tab-label>
                        <mat-icon style="color: blue;" class="example-tab-icon">female</mat-icon>
                        mujer
                      </ng-template>  
                    <mat-tab-group (selectedTabChange)="resetFiltro()"  mat-stretch-tabs mat-align-tabs="center" animationDuration="1200ms">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon style="color: red;" class="example-tab-icon">local_hospital</mat-icon>
                                Emergencia
                              </ng-template>
                              <div *ngIf="srvPaciente.loading" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
                                <mat-spinner></mat-spinner>
                            </div>
                            <div *ngIf="!srvPaciente.loading" class="table-responsive">

                              <table class="table  bordeTabla tablep table-bordered" role="table">
                                  <thead class="theadp">
      
                                      <tr class="trp bg-success text-center">
      
                                          <th class="thp" scope="col" role="columnheader">Identidad</th>
                                          <th class="thp" scope="col" role="columnheader">Nombres</th>
                                          <th class="thp" scope="col" role="columnheader">Apellidos</th>
                                          <th class="thp" scope="col" role="columnheader">Dirección</th>
                                          <th class="thp" scope="col" role="columnheader">Correo</th>
                                          <th class="thp" scope="col" role="columnheader">Edad</th>
                                          <th class="thp" scope="col" role="columnheader">Celular</th>
                                          <th class="thp" scope="col" role="columnheader">Telefono</th>
                                          <th class="thp" scope="col" role="columnheader">Opciones</th>
                                      </tr>
                                  </thead>
      
      
                                  <tbody role="rowgroup" class="tbodyp">
                                      <tr >
                                          <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Identidad" 
                                              [(ngModel)]="identidad"
                                              name="identidad"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Nombre" 
                                              [(ngModel)]="nombres"
                                              name="nombres"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Apellidos" 
                                              [(ngModel)]="apellidos"
                                              name="apellidos"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por direccion" 
                                              [(ngModel)]="direccion"
                                              name="direccion"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por correoElectronico" 
                                              [(ngModel)]="correoElectronico"
                                              name="correoElectronico"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por edad" 
                                              [(ngModel)]="edad"
                                              name="edad"
                                            /> </td>
                                            
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Celular" title="Buscar por telefono Celular" 
                                              [(ngModel)]="telefonoMovil"
                                              name="telefonoMovil"
                                            /> -->
                                           </td>
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Fijo" title="Buscar por telefono Fijo" 
                                              [(ngModel)]="telefonoFijo"
                                              name="telefonoFijo" 
                                            /> -->
                                          </td>
                                            <td>
                                            </td>

                                      </tr>
                                      <tr class="text-center trp" role="row"
                                          *ngFor="let item of pacientesAnonimosWomenMayor | identidad: identidad |nombres:nombres|apellidos:apellidos |
                                          direccion:direccion | correoElectronico:correoElectronico| edad:edad  ">
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                                          <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.direccion}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.correoElectronico}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.edad}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoMovil}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoFijo}}</td>
      
                                          <td role="cell" data-title="Opciones" class="tdp">
                                              <div style="text-align: center;">

                                                <div class=" btn-group ">
                                                  <button type="button " (click)="getPaciente(item,modalPaciente)" title="Ver perfil" class="btn btn-primary btn-xs ">
                                                    <i  class="fa fa-address-card"></i>
                                                  </button>
                                                  <button type="button "  (click)="getEncuesta(item,modalEncuesta)" title="Ver encuestas" class="btn btn-success btn-xs ">
                                                    <!-- <i class="fa fa-microscope"></i> -->
                                                    <i class="fa fa-eye "></i>
                                                  </button>
                                                  <button type="button "  (click)="agendarCita(item)" title="Agendar cita" class="btn btn-danger btn-xs ">
                                                    <i class="fa fa-calendar"></i>
                                                  </button>
                                                </div>
                                              </div>
                                                  
                                          </td>
      
                                      </tr>
      
                                  </tbody>
                              </table>
                                
                          </div>

                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon  style="color:yellowgreen" class="example-tab-icon">child_care</mat-icon>
                                Menor de edad
                              </ng-template>
                              <div *ngIf="srvPaciente.loading" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
                                <mat-spinner></mat-spinner>
                            </div>
                            <div *ngIf="!srvPaciente.loading" class="table-responsive">

                              <table class="table  bordeTabla tablep table-bordered" role="table">
                                  <thead class="theadp">
      
                                      <tr class="trp bg-success text-center">
      
                                          <th class="thp" scope="col" role="columnheader">Identidad</th>
                                          <th class="thp" scope="col" role="columnheader">Nombres</th>
                                          <th class="thp" scope="col" role="columnheader">Apellidos</th>
                                          <th class="thp" scope="col" role="columnheader">Dirección</th>
                                          <th class="thp" scope="col" role="columnheader">Correo</th>
                                          <th class="thp" scope="col" role="columnheader">Edad</th>
                                          <th class="thp" scope="col" role="columnheader">Celular</th>
                                          <th class="thp" scope="col" role="columnheader">Telefono</th>
                                          <th class="thp" scope="col" role="columnheader">Opciones</th>
                                      </tr>
                                  </thead>
      
      
                                  <tbody role="rowgroup" class="tbodyp">
                                      <tr >
                                          <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Identidad" 
                                              [(ngModel)]="identidad"
                                              name="identidad"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Nombre" 
                                              [(ngModel)]="nombres"
                                              name="nombres"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por Apellidos" 
                                              [(ngModel)]="apellidos"
                                              name="apellidos"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por direccion" 
                                              [(ngModel)]="direccion"
                                              name="direccion"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por correoElectronico" 
                                              [(ngModel)]="correoElectronico"
                                              name="correoElectronico"
                                            /> </td>
                                            <td> <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar" title="Buscar por edad" 
                                              [(ngModel)]="edad"
                                              name="edad"
                                            /> </td>
                                            
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Celular" title="Buscar por telefono Celular" 
                                              [(ngModel)]="telefonoMovil"
                                              name="telefonoMovil"
                                            /> -->
                                           </td>
                                            <td>
                                                 <!-- <input style="text-align: center;"
                                              type="text"
                                              class="form-control"
                                              placeholder="Buscar por telefono Fijo" title="Buscar por telefono Fijo" 
                                              [(ngModel)]="telefonoFijo"
                                              name="telefonoFijo" 
                                            /> -->
                                          </td>
                                            <td>
                                            </td>

                                      </tr>
                                      <tr class="text-center trp" role="row"
                                          *ngFor="let item of pacientesAnonimosWomenMenor | identidad: identidad |nombres:nombres|apellidos:apellidos |
                                          direccion:direccion | correoElectronico:correoElectronico| edad:edad  ">
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.identidad}}</td>
                                          <td role="cell" data-title="Nombres" class="tdp"> {{item.nombres}}</td>
                                          <td role="cell" data-title="Apellidos" class="tdp"> {{item.apellidos}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.direccion}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.correoElectronico}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.edad}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoMovil}}</td>
                                          <td role="cell" data-title="Observaciónes" class="tdp">{{item.telefonoFijo}}</td>
      
                                          <td role="cell" data-title="Opciones" class="tdp">
                                              <div style="text-align: center;">

                                                <div class=" btn-group ">
                                                  <button type="button " (click)="getPaciente(item,modalPaciente)" title="Ver perfil" class="btn btn-primary btn-xs ">
                                                    <i  class="fa fa-address-card"></i>
                                                  </button>
                                                  <button type="button "  (click)="getEncuesta(item,modalEncuesta)" title="Ver encuestas" class="btn btn-success btn-xs ">
                                                    <!-- <i class="fa fa-microscope"></i> -->
                                                    <i class="fa fa-eye "></i>

                                                    
                                                  </button>
                                                  <button type="button "  (click)="agendarCita(item)" title="Agendar cita" class="btn btn-danger btn-xs ">
                                                    <i class="fa fa-calendar"></i>
                                                  </button>
                                                </div>
                                              </div>
                                                  
                                          </td>
      
                                      </tr>
      
                                  </tbody>
                              </table>
                                
                          </div>

                        </mat-tab>
                        <mat-tab >
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">emoji_people</mat-icon>
                                Otros next 12
                              </ng-template> 

                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
            </mat-tab-group>

          </mat-tab>
          
        </mat-tab-group>
    
</mat-card>
</div>
</div>


<ng-template #modalEncuesta>


    <mat-card-header style="background-color: #333a56; border-radius: 10px; color: white;">
        <!-- <div class="mat-card-header-text"> -->
        <div class="mat-dialog-title;" style="padding-left: 40%; padding-right: 35%; padding-top: 1%;padding-bottom: 1%; font-size: medium;">Encuestas</div>
        <!-- </div> -->
    </mat-card-header>
    <div>
        <div *ngIf="srvPaciente.loadingEncuesta" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
            <mat-spinner></mat-spinner>
        </div>
      </div>

    <div class="table-responsive" *ngIf="!srvPaciente.loadingEncuesta">

        <table class="table  bordeTabla tablep" role="table">
            <thead class="theadp">

                <tr class="trp bg-success text-center">

                    <th class="thp" scope="col" role="columnheader">Fecha</th>
                    <th class="thp" scope="col" role="columnheader">Hora</th>
                    <th class="thp" scope="col" role="columnheader">Total puntaje</th>
                    <th class="thp" scope="col" role="columnheader">Estado</th>
                    <th class="thp" scope="col" role="columnheader">Opciones</th>
                </tr>
            </thead>


            <tbody role="rowgroup" class="tbodyp">

                <tr class="text-center trp" role="row"
                    *ngFor="let item of encuestas | paginate:{id: 'idEncuenta',  itemsPerPage:5,currentPage:pageActualEncuesta }">
                    <td role="cell" data-title="fechaEncuesta" class="tdp"> {{item.fechaEncuesta}}</td>
                    <td role="cell" data-title="horaEncuesta" class="tdp"> {{item.horaEncuesta}}</td>
                    <td role="cell" data-title="Puntaje" class="tdp">{{item.totalPuntaje}}</td>
                    <td role="cell" data-title="Estado" class="tdp">{{item.estadoSeguimiento}}</td>

                    <td role="cell" data-title="Opciones" class="tdp">
                        <div style="text-align: center;">

                          <div class=" btn-group ">
                            <button type="button " (click)="verEncuestaDetalle(item,modalEncuestaDetalle)" title="Ver detalles de la encuesta" class="btn btn-primary btn-xs ">
                              <i class="fa fa-clipboard-check"></i>
                            </button>
                          </div>
                        </div>
                    </td>

                </tr>

            </tbody>
        </table>
        <pagination-controls id="idEncuenta"  style="text-align: right;" (pageChange)="pageActualEncuesta = $event" previousLabel ="Atras"
        nextLabel ="Siguiente"></pagination-controls>
    </div>
    <div class="text-right">
        <button type="button"  mat-dialog-close class="btn btn-secondary">Salir</button>

    </div>
 
</ng-template>

<ng-template #modalEncuestaDetalle >

    <mat-card-header style="background-color: #333a56; border-radius: 10px; color: white;">
        <div class="mat-dialog-title;" style="padding-left: 40%; padding-right: 35%; padding-top: 1%;padding-bottom: 1%; font-size: medium;">Encuestas Detalles</div>
    </mat-card-header>

    <mat-tab-group mat-align-tabs="center" animationDuration="1200ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <i style="color: blue;"  class="material-icons">accessibility_new</i>
            Preguntas Iniciales
          </ng-template>
          
          <table class="table  table-sm">
            <thead style="text-align: center!important;" class="thead-light">
                <tr>
                    <th scope="col">Pregunta</th>
                    <th>Respuesta</th>
                </tr>
            </thead>
            <tbody style="text-align: center!important;">
                <tr *ngFor="let resp of encuestasDetalles[0].encuesta[0].preguntas[0].respuestas">
                    <th role="cell" data-title="Pregunta" class="tdp">{{resp.respuesta}}</th>
                    <td role="cell" data-title="Respuesta" class="tdp">
                        <mat-checkbox [(ngModel)]="resp.seleccionada"></mat-checkbox>
                    </td>
                </tr>

            </tbody>
        </table>  
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon style="color: blue;" class="example-tab-icon">psychology</mat-icon>
            Sistomatologia
          </ng-template>
          
          <table class="table  table-sm">
            <thead style="text-align: center!important;" class="thead-light">
                <tr>
                    <th scope="col">Sintomas</th>
                    <th>Respuesta</th>
                </tr>
            </thead>
            <tbody style="text-align: center!important;">
                <tr *ngFor="let resp of encuestasDetalles[0].encuesta[1].preguntas[0].respuestas">
                    <th role="cell" data-title="Pregunta" class="tdp">{{resp.respuesta}}</th>
                    <td role="cell" data-title="Respuesta" class="tdp">
                        <mat-checkbox [(ngModel)]="resp.seleccionada"></mat-checkbox>
                    </td>
                </tr>

            </tbody>
        </table>  
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <i style="color: blue;" class="material-icons">emergency</i>
            Datos Patológicos
          </ng-template>
                <table class="table  table-sm">
                    <thead style="text-align: center!important;" class="thead-light">
                        <tr>
                            <th scope="col">Patologías</th>
                            <th>Respuesta</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center!important;">
                        <tr *ngFor="let resp of encuestasDetalles[0].encuesta[2].preguntas[0].respuestas">
                            <th role="cell" data-title="Pregunta" class="tdp">{{resp.respuesta}}</th>
                            <td role="cell" data-title="Respuesta" class="tdp">
                                <mat-checkbox [(ngModel)]="resp.seleccionada"></mat-checkbox>
                            </td>
                        </tr>
        
                    </tbody>
                </table>   
          
        </mat-tab>
      </mat-tab-group>
    <div class="text-right">
        <button type="button"  mat-dialog-close (click)="cerrarModalDetalles()" class="btn btn-secondary">Atras</button>
    </div>

</ng-template>

