



    <div *ngIf="loadingCitas" style="display: flex; align-items: center; justify-content: center; margin-top: 10%; ">
        <mat-spinner></mat-spinner>
    </div>
<div class="row">

    <div *ngIf="!loadingCitas" class="col-lg-12">
        <mat-card-header style="background-color: #333a56; border-radius: 10px; color: white;">
            <div class="mat-dialog-title;" style="padding-left: 40%; padding-right: 35%; padding-top: 1%;padding-bottom: 1%; font-size: medium;">Cita</div>
        </mat-card-header>

        <br>

        <form [formGroup]="citaForm" (ngSubmit)="saveCita()" >
            
            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Fecha Cita</mat-label>
                        <input (keydown)="validarNumeros($event)" (keydown)="validarLetras($event)" [min]="min"  formControlName="fechaCita" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="nacionalidad">Hora de la Cita</label>
                        <input type="time" name="horaCita"  formControlName="horaCita" class="form-control form-control-sm">

                    </div>

                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Doctor</mat-label>
                        <mat-select formControlName="idDoctor">
                            <mat-option  *ngFor="let item of doctores" [value]="item.idDoctor">
                                {{item.nombres}} {{item.apellidos}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
              </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field appearance="standard" >
                      <mat-label>Observaciones</mat-label>
                      <textarea matInput formControlName="observaciones"></textarea>
                  </mat-form-field>

                  </div>
                </div>
                <mat-card-header *ngIf="citas.length==0" style="background-color: #333a56; border-radius: 10px; color: white;">
                    <div class="mat-dialog-title;" style="padding-left: 40%; padding-right: 35%; padding-top: 1%;padding-bottom: 1%; font-size: medium;">Sin historial de citas</div>
                </mat-card-header>
                <div *ngIf="citas.length >0">
                    <mat-card-header style="background-color: #333a56; border-radius: 10px; color: white;">
                        <div class="mat-dialog-title;" style="padding-left: 40%; padding-right: 35%; padding-top: 1%;padding-bottom: 1%; font-size: medium;">Historial de citas</div>
                    </mat-card-header>
                    <br>
                    <div class="table-responsive table12">
                        <table class="table table-striped table-hover  table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <span>Nombre Doctor</span>
                                    </th>
                                    <th>
                                        <span>Fecha Cita</span>
                                    </th>
                                    <th>
                                        <span>Hora Cita</span>
                                    </th>
                                    <th>
                                        <span>Valoración</span>
                                    </th>
                                    <th>
                                        <span>Examenes previos</span>
                                    </th>
                                    <th>
                                        <span>Conclusión</span>
                                    </th>
                                    <th>
                                        <span>Estado Cita</span>
                                    </th>
                                    <th><span>Opciones</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <tr *ngFor="let cita of citas |paginate:{itemsPerPage:5,currentPage:pageActual }">
                                        <td> {{cita.nombreDoctor}}</td>
                                        <td> {{cita.fechaCita|date:'d/M/yyyy'}}</td>
                                        <td> {{cita.horaCita}}</td>
                                        <!-- <td> {{cita.nombreDictamen}}</td> -->
                                        <!-- <td> {{cita.observaciones}}</td> -->
                                        <td> {{cita.valoracionTelemedicina}}</td>
                                        <td> {{cita.resultadosExamenesPrevios}}</td>
                                        <td> {{cita.conclusiones}}</td>
                                        <td> {{cita.estadoCita}} </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" title="Editar Cita" (click)="preUpdateCita(cita)" class="btn btn-success btn-xs" [disabled]="cita.idEstadoCita!==1">
                                            <i class="fa fa-wrench"></i>
                                        </button>
                
                                            </div>
                                            <div class=" btn-group">
                                                <button type="button" title="Marcar como atendido"  (click)="openAtendido(cita)" class="btn btn-primary btn-xs" [disabled]="cita.idEstadoCita==2||cita.idEstadoCita==3">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            </div>
                                            <div class=" btn-group">
                                                <button type="button" title="Marcar como no se presentó"  (click)="openNoAtendido(cita)" class="btn btn-danger btn-xs" [disabled]="cita.idEstadoCita==2||cita.idEstadoCita==3">
                                                <i class="fa fa-times-circle"></i>
                                            </button>
                                            </div>
                                        </td>
                                    </tr>
                
                            </tbody>
                        </table>
                        
                        <pagination-controls  style="text-align: right;" (pageChange)="pageActual = $event" previousLabel ="Atras"
                        nextLabel ="Siguiente"></pagination-controls>
                    </div>
                </div>
                <br>

                <div class="text-right">
                  <button type="button" class="btn btn-secondary" mat-dialog-close >Cerrar</button>
                  <button type="submit" class="btn" style="background-color:#333a56;color: white;"  > Guardar</button>

              </div>
        </form>
    </div>
</div>