.lgCard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}
.centrar{
    vertical-align: middle;
}
.container-fluid{
    margin-top: 2%;
}
.card2 {
    margin: 0px 40px
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}




button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btnLogin {
    width: 150px;
    color: #fff;
    border-radius: 2px
}



.bg-green {
    color: #fff;
    background-color: #86e0b6
}

@media screen and (min-width: 1500px) {
    .lgCard{
        margin-top: 5%;
    }
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }
    .lgCard{
        margin-top: 2%;
    }
    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}

@media screen and (max-width: 400px) {
    
    .lgCard{
        margin-top: 10%;
    }
    .card1{
        display: none;
    }

    .image {
        display: none;
    }

    
}