.imgLogoPrincipal {
  max-width: 120px;
}

.imgLogoSecundary {
  max-width: 170px;
  max-height: 60px;

}

.colorBack {
  background-color: white;
  height: 55px !important;
}

.snav {
  background-color: #333A56;
  color: white;
}
.letterNavBarPrimary{
  font-weight: bold;
  color: #333A56;
}
.letterNavBarSecundary {
  font-weight: bold;
  color: #333A56;
}

@media all and (max-width: 600px) {
  .letterUnah {
    display: none !important;
  }
}
