.centrar{
    display: flex;
    align-items: center;
}

.matCardHeader{
    border-radius: 20px !important;
    background-color: #333a56;
    border-radius:19px;
    color:white;
    padding: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }