.centrar{
    display: flex;
    align-items: center;
}

.matCardHeader{
    border-radius: 20px !important;
    background-color: #333a56;
    border-radius:19px;
    color:white;
    padding: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    box-sizing: border-box !important;
    justify-content: space-between !important;
    position: relative !important;
    height: inherit !important;

}

// .posicionFinal {
//     justify-content: flex-end !important;
//   }
::ng-deep .contenido {
    padding: 0 24px;
}

.negrita {
    font-weight: bold;
    color: black;
}

::ng-deep .contentP {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 16px;
    position: relative;
    height: inherit;
}
