.example-header-image {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-size: cover;
}

.btn-delete {
    background-color: rgb(250, 56, 56);
}

.img {
    width: 50%;
}

.bntGray {
    background-color: grey;
}

.mat-card-avatar {
    width: 100px !important;
    height: 100px !important;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.cardCenter {
    width: 60%;
    /* position: fixed; */
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.example-margin {
    margin: 0 10px;
}

.backGround {
    background-color: #003399 !important;
    color: white;
}


/* .mat-card-header {
    background-color: #003399;
    color: white;
} */

.backGroundWhite {
    background-color: white !important;
    color: black !important;
}

.cardRow {
    margin: 0px;
}

.inputText {
    margin-right: 10px;
    margin-left: 10px;
}

.title {
    color: white;
    font-weight: bold;
    text-align: center !important;
}

.subTitle {
    color: black;
    font-weight: bold;
    text-align: center !important;
}

.selectMultiple {
    height: 200px !important;
    border-style: double !important;
}

.profile-list-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.profile-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}

.profile-list-item .profile-list-detail {
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.profile-category {
    font-weight: 600;
    vertical-align: middle;
}

.profile-list-item .profile-list-action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media all and (max-width: 600px) {
    .column1 {
        width: 80%;
    }
    .column2 {
        width: 20%;
    }
    .row {
        flex-direction: column;
    }
    .row .column1 {
        width: 100%;
        order: 1;
    }
    .row .column2 {
        width: 100%;
        order: 2;
    }
}