<div *ngIf="!verMenus">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Perfiles</li>
        </ol>
    </nav>



    <mat-card class="carnet">
       
        <mat-card-content>

            <div *ngIf="(perfilFacade.responseCargando$ | async)">
                <app-loading [data]="4"></app-loading>
            </div>

            <section *ngIf="!(perfilFacade.responseCargando$ | async)">
                <!-- <div class="text-right" *ngIf="permisos?.ingresar"></div> -->
                <div class="text-right" >
                    <button mat-raised-button class="buttonPrincipal" (click)="openDialog({})">
                        <mat-icon>
                            assignment_ind
                        </mat-icon>
                        Agregar Perfil
                    </button>
                </div>

                <div>
                    <app-table-perfiles [dataFilter]="this.tipoFiltro"></app-table-perfiles>
                </div>
            </section>
        </mat-card-content>
    </mat-card>


</div>


<div *ngIf="verMenus">
    <nav aria-label="breadcrumb" *ngIf="menusFacade.menusHijos == false">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
            <li class="breadcrumb-item"><a  class="cursorActivo" (click)="verMenus = false">Perfiles</a></li>
            <li class="breadcrumb-item active" aria-current="page">MENUS {{this.menusFacade.itemMenus?.Nombre}}</li>

        </ol>
    </nav>
    <nav aria-label="breadcrumb" *ngIf="menusFacade.menusHijos == true">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
            <li class="breadcrumb-item"><a class="cursorActivo" (click)="verMenus = false">Perfiles</a></li>
            <li class="breadcrumb-item active" aria-current="page"> <a class="cursorActivo" (click)="consumirMenus()">
                    Menus {{this.menusFacade.itemMenus?.Nombre}}
                </a> </li>
            <li class="breadcrumb-item" aria-current="page">{{menusFacade.nombreMenu}} Sub Menus</li>

        </ol>
    </nav>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title><b>Menus</b> {{this.menusFacade.itemMenus?.Nombre}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="text-right" *ngIf="!(menusFacade.responseCargando$ | async)">
                <button mat-raised-button class="buttonPrincipal" (click)="dialogMenus()">
                    Asignar Menus
                </button>
            </div>
            <app-table-menus [dataProfile]="1"></app-table-menus>
        </mat-card-content>
    </mat-card>
</div>
