<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/administracion/menus']">Menus</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{nombreMenu}}</li>
    </ol>
</nav>

<button mat-mini-fab class="button-principal" [routerLink]="[menusFacade.rutaPrevia()]">
    <mat-icon>
        keyboard_backspace
    </mat-icon>
</button>

<div>
    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title tourAnchor="titleCard"><b>{{nombreMenu}}</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div *ngIf="(menusFacade.responseCargando$ | async)">
                <app-loading [data]="4"></app-loading>
            </div>



            <section *ngIf="!(menusFacade.responseCargando$ | async)">
                <div class="row">
                    <div class="col-md-6" tourAnchor="busqueda">
                        <form [formGroup]="filtro" *ngIf="arrayMenus.length !=0">
                            <mat-form-field appearance="fill">
                                <mat-label>Busqueda</mat-label>
                                <input matInput placeholder="Buscar " formControlName="filter">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-md-6 text-right">
                        <button mat-raised-button class="button-principal" [routerLink]="['/administracion/nuevoMenu', 0 , idMenuPadre]">Nuevo Menu</button>
                    </div>
                </div>

                <div *ngIf="!(menusFacade.responseCargando$ | async) && arrayMenus.length == 0" class="mt-4">
                    <div class="alert alert-warning text-center" role="alert">
                        No existen menus para mostrar
                    </div>
                </div>

                <div class="table-responsive" *ngIf="arrayMenus.length != 0">

                    <table class="table table-striped bordeTabla tablep" role="table">
                        <thead class="theadp">

                            <tr class="trp bg-success text-center">

                                <th class="thp" scope="col" role="columnheader">Texto</th>
                                <th class="thp" scope="col" role="columnheader">Descripcion</th>
                                <th class="thp" scope="col" role="columnheader">Icono</th>
                                <th class="thp" scope="col" role="columnheader">Url</th>
                                <th class="thp" scope="col" role="columnheader">UrlTemplate</th>
                                <th class="thp" scope="col" role="columnheader">Activo</th>
                                <th class="thp" scope="col" role="columnheader">Opciones</th>
                            </tr>
                        </thead>


                        <tbody role="rowgroup" class="tbodyp">

                            <tr class="text-center trp" role="row" *ngFor="let item of arrayMenus | search: this.filtro.value.filter: parametrosBusqueda | slice: desde :hasta">
                                <td role="cell" data-title="Texto" class="tdp"> {{item.texto}}</td>
                                <td role="cell" data-title="Descripción" class="tdp"> {{item.descripcion}}</td>
                                <td role="cell" data-title="Icono" class="tdp">{{item.icono}}</td>
                                <td role="cell" data-title="Url" class="tdp">{{item.url}}</td>
                                <td role="cell" data-title="UrlTemplate" class="tdp">{{item.urlTemplate}}</td>
                                <td role="cell" data-title="Activo" class="tdp">
                                    <span *ngIf="item.activo === true">
                                        <mat-icon class="success">check_box</mat-icon>
                                    </span>
                                    <span *ngIf="item.activo === false">
                                        <mat-icon class="error">indeterminate_check_box</mat-icon>
                                    </span>
                                </td>

                                <td role="cell" data-title="Opciones" class="tdp">
                                    <div class="text-center">
                                        <button mat-mini-fab class="buttonPrimary" [routerLink]="['/administracion/nuevoMenu/', item.idMenu, item.idPadre]">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-mini-fab class="buttonSecundary" (click)="openDialog(item)">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                    
                </div>
            </section>
        </mat-card-content>

    </mat-card>
</div>

