.pageMosaic{
  height: 100% !important;
}

.myGridList {
  height: 100%;
  
  
}

::ng-deep .mat-grid-tile .mat-figure {
  align-items: flex-start !important;
  justify-content: flex-start !important;

}
.textGrid{
  background-color: #52658f;
  color: whitesmoke;
  padding: 5px !important;
  border-radius: 2%;

}
.myGridList {
  height: 85%;
}
.titleMosaic{
  color: #52658f;
  font-size: 1em;
  font-weight: bold;
}

.mat-toolbar{
  height: 8vh !important;
}

//Hover effect
.mat-grid-tile:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52658f9d;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.3);
  opacity: 0;
  transition: transform .4s ease 0s;
}

.overlay span {
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  font-family: Sans-serif;
}

.mat-grid-tile img {
  transition: transform .8s ease;
}

.mat-grid-tile:hover img {
  transform: scale(1.1);
}

@media all and (max-width: 600px) {
  .myGridList {
    height: 100% !important;
    margin: 1%;
  }

  .titleMosaic {
    font-size: 4vw;
  }

  // mat-grid-tile{
  //   height: 150px !important;
  // }
  
}

.configImage{
  background-size: cover !important;
  background-position: center !important;
  border-radius: 5px;
  filter: drop-shadow( 2px 2px 1.5px #333a56);

}
.configImage :hover{
  cursor: pointer;
}