body {
  height: 100% !important;
}
.title {
  border-bottom: 1.9px solid #333a56;
  padding-bottom: 4px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.titleTop {
  border-top: 1.4px solid #333a56;
  padding-top: 4px;
  margin-top: 1%;
  margin-bottom: 1%;
}



.title h3{
  margin: 0 0 0px !important;
}

.cursorActivo {
  color: #007bff !important;
  cursor: pointer;
}

/*Estilos de botones globales*/
.buttonPrincipal {
  color: white !important;
  background-color: #333a56 !important;
}
.btnExportar{
  color: white !important;
  background-color: #6fd36f !important;

}
.btnDelete {
  background-color: rgb(250, 56, 56) !important;
  color: white !important;

}

.buttonSecundary{
  background-color: #52658f !important;
  color: #e8e8e8 !important;
}

.buttonView {
  background-color: #aaaaaa !important;
  color: #e8e8e8 !important;
}

mat-raised-button {
  outline: none !important;
  border: none !important;
}
/* EXPANDIR TODO EL ANCHO DEL CONTEDENODR PADRE */

.expandir-boton,
.expandir-contenedor {
  width: 100% !important;
}


/* BOTONES STEPPER */

.botones-stepper-container {
  display: flex;
  flex-direction: row;
}

.botones-stepper-container > button {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  /* font-size: 30px; */
}

/* Eliminar estilo de focus de angular material */

mat-button-focus-overlay {
  background-color: transparent !important;
}

button:focus {
  outline: none;
}

mat-focused {
  outline: none !important;
}


/* Personalizaicion del scrollbar del navegador */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #52658f;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

/*Estilo Tablas*/
.table th,
.table td {
  vertical-align: middle !important;  
}

.tablep {
  width: 100%;

} 

.thp {
  color: white;
  background: #333a56;
  font-weight: 700;
}

.trp {
  background: #fff;
}

.trp:hover {
  background: #f4f4f4;
}

.tdp {
  font-size: calc(0.6em + 0.3vw) !important;
  word-wrap: break-word;
  border-bottom: 1px solid #ccc;
}

/*Pantallas Pequeñas*/

@media all and (max-width: 1200px) {
  .ptable,
  .pthead,
  .tbodyp,
  .thp,
  .tdp,
  .trp {
    display: block;
  }
  .theadp .trp {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tablep {
    box-shadow: none;
  }
  .trp {
    margin: 0 0 1rem 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    border-top: 5px solid #39a2fb;
    border-radius: 7px;
    padding-right: 5px;
  }
  .trp:hover {
    background: #fff;
  }
  .tdp {
    border: none;
    margin-top: 10px;
    position: relative;
    padding-left: 50%;
    text-align: right;
    border-bottom: 1px solid #ccc !important;
    padding-top: 15px !important;
  }
  .text {
    padding-top: 10px;
  }
  .tdp:before {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-title);
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }
  mat-card {
    border-top-color: white;
  }
}

.table th,
.table td {
  padding: 0.25rem !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mini-fab .mat-button-wrapper {
  padding: 0px !important;
}

.cdk-focused,
.cdk-mouse-focused {
  outline: 0 !important;
}

::ng-deep.posicionFinal {
    justify-content: flex-end !important;
}

/* Personalizacion del titulo de las tarjeta globales */
mat-card-title{
  font-weight: bold;
}

mat-card-header{
  div {
    float: right;
  }
}

/*Personalizacion de los .mat-mini-fab*/
td{
  .mat-mini-fab{
    width: 28px !important;
    height: 28px !important;
    .mat-icon{
      font-size: 18px !important;
      margin-top: -6px !important;
    }
  }
}

/*Personalizacion de las card angular material*/
mat-card{
  margin: 0px;
}

.mat-card-content {
  padding: 12px !important;
}

/*Personalizacion mat form field*/
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0 !important;
  padding: .01em 0.75em 0 0.75em !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em !important;
}



app-formato-cotizacion {
  /* hide the printing component from @media screen */
  display: none;
}

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  app-formato-cotizacion {
    display: block;
  }

  .hidden{
    display: none !important;
}


.page-break-after {
    display: block;
    page-break-after: always !important;
}

.page-break-before {
    display: block;
    page-break-before: always !important;
}
  app-main-page {
    display: none;
  }
  
}
::ng-deep .mat-select-disabled .mat-select-value {
  color: rgba(0, 0, 0, 0.7) !important;
}

/* Estilos para los inputs desabilitados que sea mas visible la letra */
.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.7) !important;
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: rgba(0, 0, 0, 0.7) !important;
}


/* JUST COMMON TABLE STYLES... */
table {
  border-collapse: collapse;
  width: 100%;
}

.matCardPersonalizada{
  border-radius: 20px !important;

  mat-card-header {
    background-color: #333a56 !important;
    border-radius:20px !important;
    color:white !important;
  }
  mat-card-subtitle{
    color:white !important;
  }
}
.matCardPersonalizada{
  border-radius: 20px !important;

  mat-card-header {
    background-color: #333a56 !important;
    border-radius:20px !important;
    color:white !important;
  }
}



.tableFixHead {
  overflow: auto;
  max-height: 70vh;
}

.tableFixHead .theadp .thp {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-full-bleed-dialog .mat-dialog-container {
  border-radius: 20px !important;
  max-height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  background-color: whitesmoke !important;
}
.app-full-bleed-dialog .mat-dialog-content {
  margin: 0px !important;
  padding: 15px !important;
  max-height: 85vh !important;
  overflow-x: hidden !important;
  background-color: whitesmoke !important;

}

.app-full-bleed-dialog .mat-dialog-actions{
  margin-bottom: 0px !important;
}
.app-full-bleed-dialog{
  .mat-list-base {
    background-color: whitesmoke;
     height: 45px;
     margin-top: 5px !important;
     margin-bottom: 10px !important;
     align-items: center;
     display: flex;
     font-size: 15px;
     white-space: nowrap;
  }
  .mat-tab-body-content{
    overflow: unset !important;
  }
  mat-card-actions{
    button{
      margin-right: 8px !important;
    }
  }

}

.matCardHeader{
  border-radius: 20px !important;
  background-color: #333a56;
  border-radius:19px;
  color:white;
  padding: 10px;
}

.tableRow {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column {
  display: table-cell;
}

.divImagePrint{
  width: 180px !important; 
  height: 70px !important;
}
