p {
    font-family: Lato;
}

a {
    position: fixed;
    z-index: 999;
    right: 0.75rem;
    bottom: 0.75rem;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 1.875rem;
    background: #452272 url("../../../assets/portal/images/up-arrow.png") no-repeat center 47%;
    background-size: 1.125rem 1.125rem;
    text-indent: -9999px;
    outline: none;
}