
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-card-header style="background-color: #333a56; border-radius: 10px; color: white;">
                <div class="mat-dialog-title;" style="padding-left: 40%; padding-right: 35%; padding-top: 1%;padding-bottom: 1%; font-size: medium;">Cita</div>
            </mat-card-header>
            <form [formGroup]="citaForm" (ngSubmit)="saveCita()">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <mat-form-field appearance="standard" >
                            <mat-label>Valoración</mat-label>
                            <textarea matInput formControlName="valoracionTelemedicina"></textarea>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <mat-form-field appearance="standard" >
                            <mat-label>Resultados Examenes Previos</mat-label>
                            <textarea matInput formControlName="resultadosExamenesPrevios"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <mat-form-field appearance="standard" >
                            <mat-label>Conclusión</mat-label>
                            <textarea matInput formControlName="conclusiones"></textarea>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="doctor">Dictamen <span style="color: red;">*</span></label>
                            <select formControlName="idDictamen" class="form-control form-control-sm" name="idDictamen" id="idDictamen">
                        <option *ngFor="let dictamen of dictamenes " [value]=dictamen.id >{{dictamen.nombreDictamen}}</option>
                      </select>
                        </div>
                    </div> -->
                </div>
                <hr>
                <div class="text-center">
                    <button type="button" class="btn btn-secondary" mat-dialog-close >Cerrar</button>
                    <button type="submit" class="btn" style="background-color:#333a56;color: white;"  > Guardar</button>

                </div>

            </form>
        </div>